<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title>Practicing Ruby</title>
  <style>
    body {
      font-family: "Helvetica Neue", arial, sans-serif;
      font-size: 14px;
      line-height: 1.6;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
      padding: 30px;
      color: #333;
      border: 1px solid #aaa;
      max-width: 900px;
      margin: 20px auto;
    }

    body > *:first-child {
      margin-top: 0 !important;
    }

    body > *:last-child {
      margin-bottom: 0 !important;
    }

    a {
      color: #4183C4;
      text-decoration: none;
    }

    a.absent {
      color: #cc0000;
    }

    a.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 20px 0 10px;
      padding: 0;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      cursor: text;
      position: relative;
    }

    h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
      text-decoration: none;
    }

    h1 tt, h1 code {
      font-size: inherit;
    }

    h2 tt, h2 code {
      font-size: inherit;
    }

    h3 tt, h3 code {
      font-size: inherit;
    }

    h4 tt, h4 code {
      font-size: inherit;
    }

    h5 tt, h5 code {
      font-size: inherit;
    }

    h6 tt, h6 code {
      font-size: inherit;
    }

    h1 {
      font-size: 28px;
      color: black;
    }

    h2 {
      font-size: 24px;
      border-bottom: 1px solid #cccccc;
      color: black;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    h6 {
      color: #777777;
      font-size: 14px;
    }

    p, blockquote, ul, ol, dl, li, table, pre {
      margin: 3px 0;
    }

    hr {
      background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
      border: 0 none;
      color: #cccccc;
      height: 4px;
      padding: 0;
    }

    body > h2:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child + h2 {
      margin-top: 0;
      padding-top: 0;
    }

    body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
      margin-top: 0;
      padding-top: 0;
    }

    h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
      margin-top: 0;
    }

    li p.first {
      display: inline-block;
    }

    ul, ol {
      padding-left: 30px;
    }

    ul :first-child, ol :first-child {
      margin-top: 0;
    }

    ul :last-child, ol :last-child {
      margin-bottom: 0;
    }

    dl {
      padding: 0;
    }

    dl dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
    }

    dl dt:first-child {
      padding: 0;
    }

    dl dt > :first-child {
      margin-top: 0;
    }

    dl dt > :last-child {
      margin-bottom: 0;
    }

    dl dd {
      margin: 0 0 15px;
      padding: 0 15px;
    }

    dl dd > :first-child {
      margin-top: 0;
    }

    dl dd > :last-child {
      margin-bottom: 0;
    }

    blockquote {
      border-left: 4px solid #dddddd;
      padding: 0 15px;
      color: #777777;
    }

    blockquote > :first-child {
      margin-top: 0;
    }

    blockquote > :last-child {
      margin-bottom: 0;
    }

    table {
      padding: 0;
    }
    table tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }

    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr th :first-child, table tr td :first-child {
      margin-top: 0;
    }

    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    span.frame {
      display: block;
      overflow: hidden;
    }

    span.frame > span {
      border: 1px solid #dddddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;
    }

    span.frame span img {
      display: block;
      float: left;
    }

    span.frame span span {
      clear: both;
      color: #333333;
      display: block;
      padding: 5px 0 0;
    }

    span.align-center {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-center > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center;
    }

    span.align-center span img {
      margin: 0 auto;
      text-align: center;
    }

    span.align-right {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-right > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right;
    }

    span.align-right span img {
      margin: 0;
      text-align: right;
    }

    span.float-left {
      display: block;
      margin-right: 13px;
      overflow: hidden;
      float: left;
    }

    span.float-left span {
      margin: 13px 0 0;
    }

    span.float-right {
      display: block;
      margin-left: 13px;
      overflow: hidden;
      float: right;
    }

    span.float-right > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right;
    }

    code, tt {
      font-family: "Lucida Console", "Courier New", courier;
      font-size: 12px;
      margin: 0 2px;
      padding: 3px 5px;
      white-space: nowrap;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
    }

    pre code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent;
    }

    .highlight pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre code, pre tt {
      background-color: transparent;
      border: none;
    }

    span.line-numbers {
      margin-right: 10px;
    }

    img.logo {
      display: block;
      margin: 10px auto;
    }

    h1.logo {
      text-align: center;
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div id="containter">
    <h1 class="logo">Practicing Ruby</h1>
    <img class="logo" src="../images/header.png" />
    <p>In this issue and the next one, I look at several design patterns laid out by
the Gang of Four and explore their relevance to modern day Ruby programming. My
goal is not so much to teach the design patterns themselves, but instead give
practical examples using real code so that you can consider what their strengths
and weaknesses are.</p>

<p>In this article, I focus on the creational design patterns, all of which have to
do with instantiating new objects. They are listed below in no particular order:</p>

<ul>
  <li>Singleton</li>
  <li>Multiton</li>
  <li>Factory Method</li>
  <li>Abstract Factory</li>
  <li>Builder</li>
  <li>Prototype  </li>
</ul>

<p>An important thing to keep in mind is that while the original GoF book was
written with C++ and Smalltalk examples, none of the patterns were written with
Ruby’s semantics in mind. This makes it necessary to use a little poetic license
to explore how these patterns apply in Ruby. That having been said, the examples
we’ll look at attempt to preserve the spirit of the patterns they implement even
if they’re not semantically identical.</p>

<h3 id="singleton">Singleton</h3>

<p><i>UPDATE 2011-12-20: Be sure to check out what <a href="http://practicingruby.com/articles/shared/jleygxejeopq">Practicing Ruby
2.8</a> has to say about
implementing Singleton pattern in Ruby. My feelings on this have changed over
time</i></p>

<p>The <a href="http://en.wikipedia.org/wiki/Singleton_pattern">Singleton pattern</a> is used
in situations where a single instance of a class is all you need. Singleton
objects are meant provide an effective way of organizing global state and
behavior, such as configuration data, logging support, or other similar needs.
This pattern is common enough that Ruby provides a module in its standard
library that makes it easier to implement.</p>

<p>In the code below, I’ve implemented a simple logger using Ruby’s singleton
library, which on the surface should look quite like an ordinary Ruby class
definition.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>require <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">singleton</span><span style="color:#710">&quot;</span></span>

<span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">SimpleLogger</span>
  include <span style="color:#036;font-weight:bold">Singleton</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>
    <span style="color:#33B">@output</span> = []
  <span style="color:#080;font-weight:bold">end</span>

  attr_reader <span style="color:#A60">:output</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">error</span>(message)
    output &lt;&lt; formatted_message(message, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ERROR</span><span style="color:#710">&quot;</span></span>)
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">info</span>(message)
    output &lt;&lt; formatted_message(message, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">INFO</span><span style="color:#710">&quot;</span></span>)
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">write</span>(filename)
    <span style="color:#036;font-weight:bold">File</span>.open(filename, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">w</span><span style="color:#710">&quot;</span></span>) { |f| f &lt;&lt; output.join(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#b0b">\n</span><span style="color:#710">&quot;</span></span>) }
  <span style="color:#080;font-weight:bold">end</span>

  private

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">formatted_message</span>(message, message_type)
    <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="color:#036;font-weight:bold">Time</span>.now<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20"> | </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>message_type<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">: </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>message<span style="font-weight:bold;color:#666">}</span></span><span style="color:#710">&quot;</span></span>
  <span style="color:#080;font-weight:bold">end</span>

<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Nothing here looks out of the ordinary, but you can begin to see the impact of the Singleton mixin as soon as you try to create a SimpleLogger instance.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>&gt;&gt; logger = <span style="color:#036;font-weight:bold">SimpleLogger</span>.new
<span style="color:#606">NoMethodError</span>: private method <span style="background-color:hsla(120,100%,50%,0.06)"><span style="color:#161">`</span><span style="color:#2B2">new' called for SimpleLogger:Class
  from (irb):2
</span></span></pre></div>
</div>
</div>

<p>Since the purpose of the singleton pattern is to allow for the creation of only a single instance, it makes sense that you might not be able to expect construction to work as normal. The example below demonstrates what you need to do instead.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>logger = <span style="color:#036;font-weight:bold">SimpleLogger</span>.instance

logger.error(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Some serious problem</span><span style="color:#710">&quot;</span></span>)
logger.info(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Something you might want to know</span><span style="color:#710">&quot;</span></span>)
logger.write(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">log.txt</span><span style="color:#710">&quot;</span></span>)
</pre></div>
</div>
</div>

<p>The class method <code>instance()</code> gets added by the Singleton mixin, and takes responsibility for initializing the SimpleLogger object. The first time this method is called, an instance of SimpleLogger is created, and initialize gets called as usual. Each subsequent call refers to that exact instance, preventing additional instances of this class from being created.</p>

<p>At this point, you might be wondering what the advantage of this approach is
over using ordinary class definitions and global variables, such as in the code
below:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#d70">$LOGGER</span> = <span style="color:#036;font-weight:bold">SimpleLogger</span>.new
<span style="color:#d70">$LOGGER</span>.error(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Some serious problem</span><span style="color:#710">&quot;</span></span>)
<span style="color:#d70">$LOGGER</span>.info(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Something you might want to know</span><span style="color:#710">&quot;</span></span>)
</pre></div>
</div>
</div>

<p>This is a reasonable question to ask, because this approach is just as straightforward and has similar strengths and weaknesses. If Ruby did not have an open class system, you could argue that it’s less likely that you’d run into side effects with different definitions of SimpleLogger than you would with someone reassigning $LOGGER, but that clearly does not apply here. It does seem like it’d be marginally more likely to see a variable reassigned than a class stomped on, particularly if proper namespacing was used, but it’s important to notice that in Ruby, this particular benefit of Singleton objects is marginal at best.</p>

<p>The real benefit that using the Singleton pattern provides in Ruby over its alternatives is that instantiation is lazy evaluated, and enforces the single instance limitation. The former provides a potential performance and memory bonus when the object never ends up getting used, and the latter helps prevent accidental object creation. Both of these things are nice to have, and it only takes a bit of extra effort make them happen.</p>

<p>The standard library implementation of the Singleton pattern is reasonable, and fairly clever. However, I feel it probably leans a bit too closely to a direct translation, and instead typically use a different technique in my own code. Below you can see how I might write SimpleLogger if left to my own devices.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">SimpleLogger</span>
  extend <span style="color:#069">self</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">error</span>(message)
    output &lt;&lt; formatted_message(message, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ERROR</span><span style="color:#710">&quot;</span></span>)
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">info</span>(message)
    output &lt;&lt; formatted_message(message, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">INFO</span><span style="color:#710">&quot;</span></span>)
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">write</span>(filename)
    <span style="color:#036;font-weight:bold">File</span>.open(filename, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">w</span><span style="color:#710">&quot;</span></span>) { |f| f &lt;&lt; output.join(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#b0b">\n</span><span style="color:#710">&quot;</span></span>) }
  <span style="color:#080;font-weight:bold">end</span>

  private

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">formatted_message</span>(message, message_type)
    <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="color:#036;font-weight:bold">Time</span>.now<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20"> | </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>message_type<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">: </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>message<span style="font-weight:bold;color:#666">}</span></span><span style="color:#710">&quot;</span></span>
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">output</span>
    <span style="color:#33B">@output</span> ||= []
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>This code preserves the lazy evaluation component while removing the concept of an instance entirely. The module itself becomes a singleton object, allowing you to call methods directly on it which affect the state stored on the module.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#036;font-weight:bold">SimpleLogger</span>.error(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Some serious problem</span><span style="color:#710">&quot;</span></span>)
<span style="color:#036;font-weight:bold">SimpleLogger</span>.info(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Something you might want to know</span><span style="color:#710">&quot;</span></span>)
<span style="color:#036;font-weight:bold">SimpleLogger</span>.write(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">log.txt</span><span style="color:#710">&quot;</span></span>)
</pre></div>
</div>
</div>

<p>I like to use this approach because what I end up with is truly a single object, rather than a class who’s job is to provide a single instance. I also like to be able to call my singleton methods directly on that object without having to retrieve the singular instance.</p>

<p>The downside of this code, and the reason why I showed both approaches instead of just my preferred one, is that it requires a much greater amount of Ruby knowledge to actually understand how it works. Additionally, through the loss of the <code>initialize()</code> hook, you need to either do something like create a setup method that you explicitly call before any other methods, or do lazy initialization of all data as I’ve done in the <code>output()</code> method. These idioms are fairly common, but again, take you a bit farther away from the look and feel of an ‘ordinary class definition’, which may be offputting to some.</p>

<p>No matter which approach you choose, it’s worth keeping in mind that the Singleton pattern should be used in moderation. Due to Ruby’s open class system, singleton objects are essentially nothing more than overengineered global variables. As with any form of global state, this makes them more difficult to test, easier to corrupt, and harder to isolate when it comes time to debug issues with them. However, when used sparingly and for the right reasons, they can be a good tool for managing global state and interactions.</p>

<h3 id="multiton">Multiton</h3>

<p>The <a href="http://en.wikipedia.org/wiki/Multiton">Multiton pattern</a> is an extension to the Singleton pattern which maps unique keys to specific instances of a class. The idea is that there should only be one instance of an object for each unique key in use, limiting the number of objects that need to be created. For a practical example, we can look at some code in the PDF generation library Prawn which implements this sort of behavior.</p>

<p>As a PDF generation library that operates at the very low level, we need to process and utilize font metrics information extensively. Because font files can become quite large, the processing cost of initializing one of our Font objects can be very computationally expensive. However, since this information is unique for each font that we use, there is no need to re-instantiate fonts once they have been initialized.</p>

<p>While the actual source code is more complex than what I’ll show here, the basic idea of applying a multiton here is quite simple. We can start off by assuming that our <code>Font</code> class has an ordinary constructor which takes a font file and then processes it into a meaningful dataset. Initializing a font directly then looks something like this.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>font = <span style="color:#036;font-weight:bold">Font</span>.new(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">/path/to/times.ttf</span><span style="color:#710">&quot;</span></span>)
</pre></div>
</div>
</div>

<p>On top of this basic interface, we layer a mapping mechanism that when used, looks something like the code below.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#036;font-weight:bold">Font</span>.map(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Times New Roman</span><span style="color:#710">&quot;</span></span> =&gt; <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">/path/to/times.ttf</span><span style="color:#710">&quot;</span></span>)
<span style="color:#036;font-weight:bold">Font</span>[<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Times New Roman</span><span style="color:#710">&quot;</span></span>] <span style="color:#777">#=&gt; A font instance</span>
</pre></div>
</div>
</div>

<p>To bring all of the above together, we can take a look at a skeletal <code>Font</code> class which implements the Multiton pattern.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Font</span>
  <span style="color:#080;font-weight:bold">class</span> &lt;&lt; <span style="color:#B06;font-weight:bold">self</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">file_names</span>
      <span style="color:#33B">@file_names</span> ||= {}
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">instances</span>
      <span style="color:#33B">@instances</span> ||= {}
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">map</span>(params)
      file_names.update(params)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]</span>(name)
      instances[name] ||= new(file_names[name])
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>(filename)
    puts <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">processing </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>filename<span style="font-weight:bold;color:#666">}</span></span><span style="color:#710">&quot;</span></span>
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#777"># details omitted</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>While the mapping is a bit complex here because it’s a two stage process, the core idea of the Multiton still shines through. What we have are lazy evaluated Font instances which do not get created until the first time <code>Font[some_font_name]</code> is called. Each subsequent call will result in the original instance being returned rather than a new instance of Font being created.</p>

<p>This basic pattern can be used any time you have a scenario in which each unique key can be mapped to exactly one object. This sort of structure can be a super effective caching technique, but should also be used with caution as it too introduces global state and added complexity that should not be taken lightly.</p>

<h3 id="factory-method">Factory Method</h3>

<p>The <a href="http://en.wikipedia.org/wiki/Factory_method">Factory Method pattern</a> is used for putting a layer of abstraction on top of object creation so that directly working with its constructor is no longer necessary. This process can lead to more expressive ways of building new objects, and can also allow for the creation of new objects without explicitly referencing their class.</p>

<p>In a Mendicant University course, one of our students (Carol Nichols) ran into a design issue that we were able to improve by introducing factory methods. She was building an <code>AdjacencyMatrix</code> datastructure for storing graph data, and her original API looked like this:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">AdjacencyMatrix</span>
  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>(data, directed=<span style="color:#069">false</span>)
    <span style="color:#777">#...</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>

undirected_matrix = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.new(data) 
directed_matrix   = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.new(data, <span style="color:#069">true</span>)
</pre></div>
</div>
</div>

<p>Using boolean switches as arguments aren’t especially expressive, and so the suggestion was quickly made to move towards a hash-based argument allowing for the following usage.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>undirected_matrix = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.new(data) 
directed_matrix   = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.new(data, <span style="color:#A60">:directed</span> =&gt; <span style="color:#069">true</span>)
</pre></div>
</div>
</div>

<p>Generally speaking, this isn’t a bad strategy, but the more we thought about it, the more we realized that there isn’t really a need for a dynamic option here. Consumers would always know whether a graph they were trying to represent was directed or undirected at the time they constructed their object, and the default call without the <code>:directed</code> argument still wasn’t very expressive about this detail. After some discussion, we settled on the following design, which introduces the Factory method pattern.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">AdjacencyMatrix</span>
  <span style="color:#080;font-weight:bold">class</span> &lt;&lt; <span style="color:#B06;font-weight:bold">self</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">undirected</span>(data)
      new(data)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">directed</span>(data)
      new(data,<span style="color:#069">true</span>)
    <span style="color:#080;font-weight:bold">end</span>

    private <span style="color:#A60">:new</span>
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>(data, directed=<span style="color:#069">false</span>)
    <span style="color:#777">#...</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>

undirected_matrix = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.undirected(data) 
directed_matrix   = <span style="color:#036;font-weight:bold">AdjacencyMatrix</span>.directed(data)
</pre></div>
</div>
</div>

<p>While this code does still have its original wart intact internally, the interface that consumers interact with has been greatly improved. By making the <code>new()</code> method private at the class level, we force users to call the factory methods, and it becomes immediately clear what type of graph is being processed each time a new <code>AdjacencyMatrix</code> is constructed.</p>

<p>This type of scenario comes up often, and the use of factory methods can be used
to simplify or at least hide the complexity of constructor calls by giving an
expressive name to a certain way of constructing a given object. However,
sometimes factories go even farther by completely decoupling the object creation
process from the class of the object being created. While I won’t go into much
detail about this rare use case, we see this sort of factory very
often in test code, particularly when dealing with object mappers in web 
applications.</p>

<p>The following example from <code>factory_girl</code> demonstrates how code which does not
reference a particular class can be used to instantiate records 
via ActiveRecord:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>factory <span style="color:#A60">:user</span> <span style="color:#080;font-weight:bold">do</span>
  first_name <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">'</span><span style="color:#D20">John</span><span style="color:#710">'</span></span>
  last_name  <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">'</span><span style="color:#D20">Doe</span><span style="color:#710">'</span></span>
  admin <span style="color:#069">false</span>
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#036;font-weight:bold">FactoryGirl</span>.build(<span style="color:#A60">:user</span>) <span style="color:#777">#=&gt; an instance of the User model</span>
</pre></div>
</div>
</div>

<p>I won’t elaborate on how this works, but it should serve as food for thought,
and perhaps would be a good project to <a href="https://github.com/thoughtbot/factory_girl">dig into the
source</a> so that you can get a sense
of how factory methods can simplify the object creation process while also making 
it more flexible.</p>

<h3 id="abstract-factory">Abstract Factory</h3>

<p>Due to the flexible nature of Ruby’s type system, we don’t need an actual language construct for abstract classes. With that in mind, when we note that an <a href="http://en.wikipedia.org/wiki/Abstract_factory">Abstract Factory</a> is simply an abstract interface for concrete Factory objects to conform to, this pattern pretty much falls away. This is perhaps easier to show than to explain, so I will go ahead and build out a Ruby version of the example shown in the wikipedia article I’ve linked to above.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">OSXGuiToolkit</span>
  extend <span style="color:#069">self</span>

  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">button</span>
    <span style="color:#036;font-weight:bold">Button</span>.new
  <span style="color:#080;font-weight:bold">end</span>
  
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Button</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">paint</span>
      puts <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">I'm an OSX Button</span><span style="color:#710">&quot;</span></span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">WinGuiToolkit</span>
  extend <span style="color:#069">self</span>
  
  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">button</span>
    <span style="color:#036;font-weight:bold">Button</span>.new
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Button</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">paint</span>
      puts <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">I'm a WINDOWS button</span><span style="color:#710">&quot;</span></span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Application</span>
  <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>(gui_toolkit)
    button = gui_toolkit.button
    button.paint
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#777"># this check is a very quick hack, not reliable.</span>
<span style="color:#080;font-weight:bold">if</span> <span style="color:#036;font-weight:bold">PLATFORM</span> =~ <span style="background-color:hsla(300,100%,50%,0.06)"><span style="color:#404">/</span><span style="color:#808">darwin</span><span style="color:#404">/</span></span>
  <span style="color:#036;font-weight:bold">Application</span>.new(<span style="color:#036;font-weight:bold">OSXGuiToolkit</span>)
<span style="color:#080;font-weight:bold">else</span>
  <span style="color:#036;font-weight:bold">Application</span>.new(<span style="color:#036;font-weight:bold">WinGuiToolkit</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>In this example, you’ll see that we’ve eliminated the explicit Abstract Factory interface. Instead, what we’ve done is created two concrete object factories, <code>OSXGuiToolkit</code> and <code>WinGuiToolkit</code>, that implement a common API. We then create a simple Application stub class which shows that the GUI toolkit factory should be injected into the Application. The reason for this is seen in the final bit of code which determines which toolkit to use based on the platform the code is running on.</p>

<p>The notion of using dependency injection in combination with object factories is an interesting one to me. I honestly don’t find myself writing code like this often at all (and so couldn’t share a relevant example of my own), but I’m not sure if that’s just because I don’t think of it in times where it might be the right strategy to use. In any case, this hopefully demonstrates that the notion of an Abstract Factory in Ruby is a conceptual one that has no need for actual abstract classes or interface objects.</p>

<h3 id="builder">Builder</h3>

<p>The purpose of the <a href="http://en.wikipedia.org/wiki/Builder_pattern">Builder pattern</a> is to create an abstract blueprint describing the steps of creating an object, and then allow many different implementations to actually carry out that process as long as they provide the necessary steps. This is once again a pattern that in Ruby is purely conceptual due to the lack of a need for explicit interfaces or abstract classes. However, unlike the Abstract Factory pattern, I have actually used the ideas behind builder in some real code of my own, and have an example handy that captures the spirit of the pattern.</p>

<p>A while back, I was experimenting with coming up with some generalized domain language for producing output in a number of different formats. While I had more complex goals in mind, the basic usage ended up looking something like what you see below.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">ListFormatter</span> &lt; <span style="color:#036;font-weight:bold">Fatty</span>::<span style="color:#036;font-weight:bold">Formatter</span>
  format <span style="color:#A60">:text</span> <span style="color:#080;font-weight:bold">do</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">render</span>
      params[<span style="color:#A60">:data</span>].map { |e| <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">* </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>e<span style="font-weight:bold;color:#666">}</span></span><span style="color:#710">&quot;</span></span> }.join(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#b0b">\n</span><span style="color:#710">&quot;</span></span>)
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>

  format <span style="color:#A60">:html</span> <span style="color:#080;font-weight:bold">do</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">render</span>
      list_elements = params[<span style="color:#A60">:data</span>].map { |e| <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">&lt;li&gt;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>e<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">&lt;/li&gt;</span><span style="color:#710">&quot;</span></span> }.join
      <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">&lt;ul&gt;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>list_elements<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">&lt;/ul&gt;</span><span style="color:#710">&quot;</span></span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>With some formats defined, the ListFormatter class can be used in the following manner.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>  data = <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">%w[</span><span style="color:#D20">foo bar baz</span><span style="color:#710">]</span></span>
  [<span style="color:#A60">:html</span>, <span style="color:#A60">:text</span>].each <span style="color:#080;font-weight:bold">do</span> |format|
    puts <span style="color:#036;font-weight:bold">ListFormatter</span>.render(format, <span style="color:#A60">:data</span> =&gt; data)
  <span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>OUTPUTS:</p>

<pre><code>  * foo
  * bar
  * baz
  &lt;ul&gt;&lt;li&gt;foo&lt;/li&gt;&lt;li&gt;bar&lt;/li&gt;&lt;li&gt;baz&lt;/li&gt;&lt;/ul&gt;   
</code></pre>

<p>While this all may look a bit magical on the surface, the implementation is just a few lines of relatively dull dynamic Ruby code.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Fatty</span>
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Formatter</span>
    
    <span style="color:#080;font-weight:bold">class</span> &lt;&lt; <span style="color:#B06;font-weight:bold">self</span>    
      <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">formats</span>
        <span style="color:#33B">@formats</span> ||= {}
      <span style="color:#080;font-weight:bold">end</span>
    
      <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">format</span>(name, options={}, &amp;block)
        formats[name] = <span style="color:#036;font-weight:bold">Class</span>.new(<span style="color:#036;font-weight:bold">Fatty</span>::<span style="color:#036;font-weight:bold">Format</span>, &amp;block)
      <span style="color:#080;font-weight:bold">end</span>
        
      <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">render</span>(format, params={})        
        format_obj = formats[format].new
        format_obj.params = params
        format_obj.render
      <span style="color:#080;font-weight:bold">end</span>   
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
  
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Format</span>
    attr_accessor <span style="color:#A60">:params</span> 
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>The bulk of this code looks like my Multiton example, albeit one that operates on anonymous Class objects. But instead of focusing on that detail, you should turn your attention to the <code>render()</code>, which is where the builder process comes in.</p>

<p>Each time render is called, a new instance of an anonymous Format subclass is created, and then customized. The params attribute is set and the render method is called to return the finally constructed object, our output data. As long as each format object that is implements all the required steps, they can be used interchangeably, which is the key feature that the Builder pattern emphasizes.</p>

<p>This example perhaps would be more convincing if you took a look at it in its real setting, in which I do things like call a validations hook, mix in helper methods to the format instances, and otherwise perform more interesting operations. But since we’re running on the long side already with this article, I’ll invite you to investigate this on your own by checking out <a href="https://github.com/sandal/fatty">the source code</a> I wrote a couple years ago for this experiment.</p>

<p>It’s worth noting that this isn’t a perfect example of Builder because I think the pattern doesn’t apply directly to Ruby, and that the code I’ve demonstrated is a bit of a hack. But it might be a good conversation starter at least for those who are interested in investigating this pattern further, since it tries to attack a problem that the Builder pattern would be well suited for in a static language.</p>

<h3 id="prototype">Prototype</h3>

<p>I’ve included a reference to the <a href="http://en.wikipedia.org/wiki/Prototype_pattern">Prototype pattern</a> here for completeness, but unfortunately am unsure whether or not it is remotely applicable to Ruby. The purpose of the Prototype pattern is to provide an alternative to manually constructing new objects by allowing for customization through the cloning of existing objects. Presumably this is a good idea when the setup of an object is more costly than it would be to create a copy of the initial post-processed data. However, I’m coming up with a hard time seeing when this approach would be better than ordinary object composition combined with some side effects free operations done on the source data.</p>

<p>I think what’s interesting about the Prototype pattern is that it gives you a different way of looking at object oriented programming which allows you to envision an object system without needing the concept of classes. There are two languages I know of that are specifically designed to implement that kind of environment, <a href="http://en.wikipedia.org/wiki/Self_%28programming_language%29">Self</a> and <a href="http://en.wikipedia.org/wiki/Io_%28programming_language%29">Io</a>.</p>

<p>Because I feel out of my depth when it comes to suggesting a good use of this pattern in Ruby, I welcome readers to submit their own ideas. Personally, I feel like this pattern isn’t a good fit for Ruby, but I could be wrong and would love to see evidence of my own ignorance!</p>

<h3 id="reflections">Reflections</h3>

<p>Every example I’ve shown in this article reflects a design approach that I feel is elegant compared to the obvious alternatives. But each and every one of them requires a lot of explanation and assume more than a fair bit of Ruby and object oriented programming knowledge. For this reason, it always baffles me when beginners or even some intermediate developers bother to learn about patterns at all. Since they don’t really make sense to think about until you run into fairly complex problems, and when you do need to apply them you need to be very careful not to overengineer things, they seem like a tool to be used sparingly by strongly skilled developers rather than gratuitously by the masses.</p>

<p>That said, I think that it’s nice to be able to recognize a pattern when you see it, regardless what your level of experience is. It’s also good to have at least a working knowledge of how to implement patterns so that when someone is discussing design with you, you can have a common vocabulary to work with. For these reasons, the study of patterns might be relevant to all active developers.</p>

<p>While there are clearly lots of different ways to abstract object creation, there are even more ways to create interesting compositions of object clusters. In the next article we’ll explore that topic by looking at the structural design patterns.</p>

<blockquote>
  <p><strong>NOTE:</strong> This article has also been published on the Ruby Best Practices blog. There <a href="http://blog.rubybestpractices.com/posts/gregory/059-issue-25-creational-design-patterns.html#disqus_thread">may be additional commentary</a> 
over there worth taking a look at.</p>
</blockquote>

  </div>
</body>
</html>
