<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title>Practicing Ruby</title>
  <style>
    body {
      font-family: "Helvetica Neue", arial, sans-serif;
      font-size: 14px;
      line-height: 1.6;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
      padding: 30px;
      color: #333;
      border: 1px solid #aaa;
      max-width: 900px;
      margin: 20px auto;
    }

    body > *:first-child {
      margin-top: 0 !important;
    }

    body > *:last-child {
      margin-bottom: 0 !important;
    }

    a {
      color: #4183C4;
      text-decoration: none;
    }

    a.absent {
      color: #cc0000;
    }

    a.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 20px 0 10px;
      padding: 0;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      cursor: text;
      position: relative;
    }

    h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
      text-decoration: none;
    }

    h1 tt, h1 code {
      font-size: inherit;
    }

    h2 tt, h2 code {
      font-size: inherit;
    }

    h3 tt, h3 code {
      font-size: inherit;
    }

    h4 tt, h4 code {
      font-size: inherit;
    }

    h5 tt, h5 code {
      font-size: inherit;
    }

    h6 tt, h6 code {
      font-size: inherit;
    }

    h1 {
      font-size: 28px;
      color: black;
    }

    h2 {
      font-size: 24px;
      border-bottom: 1px solid #cccccc;
      color: black;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    h6 {
      color: #777777;
      font-size: 14px;
    }

    p, blockquote, ul, ol, dl, li, table, pre {
      margin: 3px 0;
    }

    hr {
      background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
      border: 0 none;
      color: #cccccc;
      height: 4px;
      padding: 0;
    }

    body > h2:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child + h2 {
      margin-top: 0;
      padding-top: 0;
    }

    body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
      margin-top: 0;
      padding-top: 0;
    }

    h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
      margin-top: 0;
    }

    li p.first {
      display: inline-block;
    }

    ul, ol {
      padding-left: 30px;
    }

    ul :first-child, ol :first-child {
      margin-top: 0;
    }

    ul :last-child, ol :last-child {
      margin-bottom: 0;
    }

    dl {
      padding: 0;
    }

    dl dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
    }

    dl dt:first-child {
      padding: 0;
    }

    dl dt > :first-child {
      margin-top: 0;
    }

    dl dt > :last-child {
      margin-bottom: 0;
    }

    dl dd {
      margin: 0 0 15px;
      padding: 0 15px;
    }

    dl dd > :first-child {
      margin-top: 0;
    }

    dl dd > :last-child {
      margin-bottom: 0;
    }

    blockquote {
      border-left: 4px solid #dddddd;
      padding: 0 15px;
      color: #777777;
    }

    blockquote > :first-child {
      margin-top: 0;
    }

    blockquote > :last-child {
      margin-bottom: 0;
    }

    table {
      padding: 0;
    }
    table tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }

    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr th :first-child, table tr td :first-child {
      margin-top: 0;
    }

    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    span.frame {
      display: block;
      overflow: hidden;
    }

    span.frame > span {
      border: 1px solid #dddddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;
    }

    span.frame span img {
      display: block;
      float: left;
    }

    span.frame span span {
      clear: both;
      color: #333333;
      display: block;
      padding: 5px 0 0;
    }

    span.align-center {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-center > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center;
    }

    span.align-center span img {
      margin: 0 auto;
      text-align: center;
    }

    span.align-right {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-right > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right;
    }

    span.align-right span img {
      margin: 0;
      text-align: right;
    }

    span.float-left {
      display: block;
      margin-right: 13px;
      overflow: hidden;
      float: left;
    }

    span.float-left span {
      margin: 13px 0 0;
    }

    span.float-right {
      display: block;
      margin-left: 13px;
      overflow: hidden;
      float: right;
    }

    span.float-right > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right;
    }

    code, tt {
      font-family: "Lucida Console", "Courier New", courier;
      font-size: 12px;
      margin: 0 2px;
      padding: 3px 5px;
      white-space: nowrap;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
    }

    pre code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent;
    }

    .highlight pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre code, pre tt {
      background-color: transparent;
      border: none;
    }

    span.line-numbers {
      margin-right: 10px;
    }

    img.logo {
      display: block;
      margin: 10px auto;
    }

    h1.logo {
      text-align: center;
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div id="containter">
    <h1 class="logo">Practicing Ruby</h1>
    <img class="logo" src="../images/header.png" />
    <p>In the <a href="http://practicingruby.com/articles/45">last issue</a> we covered five folks who are working on really interesting projects. In this issue, I’d like to pay some attention to five other Ruby hackers who have caught my attention through their excellent technical writing. As a technical author myself, I am particularly moved by folks who educate and inform our community through more than just code, but through written words as well.</p>

<p>Similar to Issue #16’s list, this lineup is in no particular order, is far too short to do the community justice, and is purely subjective in nature. None of these folks knew I was going to write about them and my recommendations are completely unsolicited.</p>

<h3 id="magnus-holm-judofyrhttptwittercomjudofyr">Magnus Holm (<a href="http://twitter.com/judofyr">@judofyr</a>)</h3>

<p>If you’ve been on Twitter or Hacker News lately, you probably have run into an article or two from <a href="http://timelessrepo.com">Timeless</a>, a blog that Magnus is running with help from Steve Klabnik. The topics here range from the philosophical (see: <a href="http://timelessrepo.com/there-is-no-talent">There is No Talent</a>), to the obscure low-level Ruby hack (see: <a href="http://timelessrepo.com/tailin-ruby">Tailin’ Ruby</a>), but the quality is consistently well above that of your run of the mill blog.</p>

<p>As it turns out, the reason why Timeless feels different than your average blog is because it is designed to be that way. Magnus describes the project as <i>“an attempt at creating a new kind of blog with a focus on frequently updated, quality content which last longer than the beta of your favorite framework”</i>. With so much web content being incredibly ephemeral in nature, the notion of timeless content is attractive, even if it means a considerable challenge for the author.</p>

<p>As a small historical note, Magnus is also one of the five folks who has written articles for the Ruby Best Practices blog. While he only wrote a total of <a href="http://blog.rubybestpractices.com/posts/judofyr/index.html">two articles</a> for us, both were very well received by our readers. So even if I can’t take credit for his recent work, I can at least claim that I knew his potential years ago :)</p>

<h3 id="jeff-kreeftmeijer-jkreeftmeijerhttptwittercomjkreeftmeijer">Jeff Kreeftmeijer (<a href="http://twitter.com/jkreeftmeijer">@jkreeftmeijer</a>)</h3>

<p>Jeff is another blogger who has rapidly produced <a href="http://jeffkreeftmeijer.com/archive/">a ton of great material</a> over the last year or so. The topics on his blog bounce around fairly frequently, though he seems to take a particular interest in developer practices, particularly surrounding git, gem packaging, and testing tools.</p>

<p>What interests me about Jeff’s writing is that while he’s talking about fairly common topics, he typically focuses on just a single discussion point, which makes each of his posts a conversation waiting to happen. The process of watching Jeff make a point about some opinion he has formed about a given tool or technique and then seeing the community respond to that point has been a really enjoyable experience so far. For a nice example of what I’ve just described, check out Jeff’s <a href="http://jeffkreeftmeijer.com/2010/be-awesome-write-your-gemspec-yourself/">Be awesome, write your gemspec yourself</a></p>

<p>Jeff’s conversational approach to writing really leads to some productive conversations across a broad cross-section of the Ruby community. It’s easy to see this phenomenon by either looking at the comments on the article above, or any other article of Jeff’s that has gained some widespread attention (read: most of them).</p>

<p>Similar to Magnus, I admire Jeff for breaking out of the standard ‘blogging template’ and developing his own writing style that seems to work quite well.</p>

<h3 id="mentalguy-mentalguyhttptwittercommentalguy">MenTaLguY (<a href="http://twitter.com/#!/MenTaLguY">@MenTaLguY</a>)</h3>

<p>I may be showing my long, flowing Ruby beard by recommending MenTaLguY on a list of bloggers who impressed me in 2010, since the bulk of the materials of his that interested me were published in 2005-2006. But two articles posted in 2010 really caught my eye, and are worth recognition on their own: <a href="http://moonbase.rydia.net/mental/blog/programming/atomic-operations-in-ruby.html">Atomic Operations in Ruby</a> and <a href="http://moonbase.rydia.net/mental/blog/programming/the-biggest-mistake-everyone-makes-with-closures.html">The Biggest Mistake Everyone Makes With Closures</a>.</p>

<p>These two articles are guaranteed to expose edge cases that will surprise all but the most diligent Rubyists, and are representative of the two things MenTaLguY has historically been known for: concurrency and functional programming.</p>

<p>His blog is written in the old fashioned ‘everything in one pot’ style, and due to a mixture of non-technical and technical content, can be very challenging to dig through. For this reason, I’ve gone way back to his 2006 and 2007 writing and pulled a few articles worth checking out, which may intice you to dig even deeper.</p>

<ul>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/simple-lazy-streams.html">Simple Lazy Streams</a> </li>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/currying-in-ruby.html">Currying in Ruby</a> </li>
  <li><a href="http://moonbase.rydia.net/mental/writings/programming/monads-in-ruby/">Monads in Ruby</a></li>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/concise-memoization.html">Concise Memoization</a></li>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/eavesdropping-on-expressions.html">Eavesdropping on Expressions</a> </li>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/ruby-symbols-explained.html">Ruby Symbols Explained</a></li>
  <li><a href="http://moonbase.rydia.net/mental/blog/programming/concurrency-five-ways.html">Concurrency Five Ways</a></li>
</ul>

<p>The reason I’ve included MenTaLguY in this lineup is because I feel like he is a representation of an unapologetically deeply technical person that we are seeing less and less of in a more commercialized ecosystem that tends to value shiny tools and productivity tips over deep knowledge and theory. While the new world isn’t a bad one because we all can find jobs in it, I remember a different community that leaned more towards MenTaLguY’s direction as recent as five years ago.</p>

<p>So this is my hat-tip to old school Rubyists, and to MenTaLguY for frequently being ahead of his time by focusing on concurrency and functional programming before it was cool.</p>

<h3 id="aaron-patterson-tenderlovehttptwittercomtenderlove">Aaron Patterson (<a href="http://twitter.com/tenderlove">@tenderlove</a>)</h3>

<p>Aaron is another Ruby hacker who has been in the Ruby community for a long time and has worked on a number of cool projects, including Nokogiri and Mechanize. I’ve been a friend of Aaron’s for a while, and have always admired his abilities as both a hacker and story teller. But the thing that really impressed me about Aaron’s work in 2010 is his writing for the AT&amp;T Interactive Engineering.</p>

<p>Recently, Aaron has been performance tuning Rails 3 by rewriting the low level ARel relational algebra library. Doing major refactorings of Rails internals is no easy task, but you might think otherwise if you read Aaron’s great posts about his work on ARel, due to their incredible clarity. It may just be the giant fonts or the pretty graphs, but the articles Aaron has written about his work on ARel have been the most easy to understand resources on performance tuning in Ruby that I have ever seen.</p>

<p>Aaron brushes up against a couple other Rails and Ruby 1.9.2 topics on the AT&amp;T blog as well, approaching them in a similar clear and light-hearted style. But those looking for a lot more can dig through the archives of tenderlovemaking.com, which similarly has no shortage of great Ruby content.</p>

<p><i>UPDATE 2011.07.20: Looks like the AT&amp;T interactive blog is down right now, so I couldn’t provide any meaningful links above. But you can still find Aaron writing on his personal blog, <a href="http://tenderlovemaking.com">Tender Lovemaking</a>.</i></p>

<h3 id="peter-cooper-peterchttptwittercompeterc">Peter Cooper (<a href="http://twitter.com/peterc">@peterc</a>)</h3>

<p>It may be a bit “meta” to acknowledge Peter, since he’s typically writing about people who are writing code, or writing about people who are writing about writing code, but nonetheless, he is someone that deserves both attention and appreciation for the valuable service he’s been offering our community for years.</p>

<p>While I find a lot of new Ruby resources over Hacker News or Twitter, or just by working with my friends and colleagues, <a href="http://rubyinside.com">Ruby Inside</a> remains the place I go when I want to put my finger on the pulse of the Ruby community. While small things may go unnoticed by Peter, most major new releases of important projects are covered by Ruby Inside. RI also is the place to go to see announcements about big upcoming events, or just to get a general feel for what Ruby hackers are up to.</p>

<p>A number of my own projects, including Practicing Ruby itself, have gained a lot more attention by being featured on Ruby Inside than they would have on their own. Over the years, I’ve seen this site evolve from a time in which the existence of a Ruby news site seemed a bit ridiculous since everyone in the community already pretty much knew each other to the present day in which we absolutely need to have someone sifting through the endless stream of new content so that we know what things we just can’t afford to miss.</p>

<p>For better or for worse, Peter has done a ton to help Ruby gain exposure in the broader technical community, and has helped those within our community find their way to some really great resources. The high degree of professionalism and consistency that Ruby Inside showcases does a lot to create a good first impression for our community as a whole.</p>

<p><i>UPDATE 2011.07.20: Ruby Inside is great, but less frequently updated these days. Be sure to check out other things Peter stewards, such as <a href="http://rubyweekly.com/">Ruby Weekly</a> and <a href="http://rubyflow.com">Ruby Flow</a></i></p>

<h3 id="reflections">Reflections</h3>

<p>I must admit, I actually don’t spend a lot of time reading technical books or blogs. I find that I’m so busy writing and actively practicing that hooking myself up to the firehose of new information seems like it would cause me to burst. In general, I think we have a community that is too obsessed with the consumption of information, and for that reason, it makes it hard for me to come up with a list of folks who I’d say can’t be missed.</p>

<p>That having been said, a little bit of well placed information goes a long way, and the five people I have acknowledged in this post have really given me some major new insights at one point or another in my career. There are others I could say the same about, but I’ll leave it to you to find them on your own.</p>

<p>Who is a great hacker-writer that you think is worth knowing about?</p>

<blockquote>
  <p><strong>NOTE:</strong> This article has also been published on the Ruby Best Practices blog. There <a href="http://blog.rubybestpractices.com/posts/gregory/049-issues-17-interesting-ruby-writers.html#disqus_thread">may be additional commentary</a> 
over there worth taking a look at.</p>
</blockquote>

  </div>
</body>
</html>
