<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title>Practicing Ruby</title>
  <style>
    body {
      font-family: "Helvetica Neue", arial, sans-serif;
      font-size: 14px;
      line-height: 1.6;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
      padding: 30px;
      color: #333;
      border: 1px solid #aaa;
      max-width: 900px;
      margin: 20px auto;
    }

    body > *:first-child {
      margin-top: 0 !important;
    }

    body > *:last-child {
      margin-bottom: 0 !important;
    }

    a {
      color: #4183C4;
      text-decoration: none;
    }

    a.absent {
      color: #cc0000;
    }

    a.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 20px 0 10px;
      padding: 0;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      cursor: text;
      position: relative;
    }

    h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
      text-decoration: none;
    }

    h1 tt, h1 code {
      font-size: inherit;
    }

    h2 tt, h2 code {
      font-size: inherit;
    }

    h3 tt, h3 code {
      font-size: inherit;
    }

    h4 tt, h4 code {
      font-size: inherit;
    }

    h5 tt, h5 code {
      font-size: inherit;
    }

    h6 tt, h6 code {
      font-size: inherit;
    }

    h1 {
      font-size: 28px;
      color: black;
    }

    h2 {
      font-size: 24px;
      border-bottom: 1px solid #cccccc;
      color: black;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    h6 {
      color: #777777;
      font-size: 14px;
    }

    p, blockquote, ul, ol, dl, li, table, pre {
      margin: 3px 0;
    }

    hr {
      background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
      border: 0 none;
      color: #cccccc;
      height: 4px;
      padding: 0;
    }

    body > h2:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    body > h1:first-child + h2 {
      margin-top: 0;
      padding-top: 0;
    }

    body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
      margin-top: 0;
      padding-top: 0;
    }

    h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
      margin-top: 0;
    }

    li p.first {
      display: inline-block;
    }

    ul, ol {
      padding-left: 30px;
    }

    ul :first-child, ol :first-child {
      margin-top: 0;
    }

    ul :last-child, ol :last-child {
      margin-bottom: 0;
    }

    dl {
      padding: 0;
    }

    dl dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
    }

    dl dt:first-child {
      padding: 0;
    }

    dl dt > :first-child {
      margin-top: 0;
    }

    dl dt > :last-child {
      margin-bottom: 0;
    }

    dl dd {
      margin: 0 0 15px;
      padding: 0 15px;
    }

    dl dd > :first-child {
      margin-top: 0;
    }

    dl dd > :last-child {
      margin-bottom: 0;
    }

    blockquote {
      border-left: 4px solid #dddddd;
      padding: 0 15px;
      color: #777777;
    }

    blockquote > :first-child {
      margin-top: 0;
    }

    blockquote > :last-child {
      margin-bottom: 0;
    }

    table {
      padding: 0;
    }
    table tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }

    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr th :first-child, table tr td :first-child {
      margin-top: 0;
    }

    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    span.frame {
      display: block;
      overflow: hidden;
    }

    span.frame > span {
      border: 1px solid #dddddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;
    }

    span.frame span img {
      display: block;
      float: left;
    }

    span.frame span span {
      clear: both;
      color: #333333;
      display: block;
      padding: 5px 0 0;
    }

    span.align-center {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-center > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center;
    }

    span.align-center span img {
      margin: 0 auto;
      text-align: center;
    }

    span.align-right {
      display: block;
      overflow: hidden;
      clear: both;
    }

    span.align-right > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right;
    }

    span.align-right span img {
      margin: 0;
      text-align: right;
    }

    span.float-left {
      display: block;
      margin-right: 13px;
      overflow: hidden;
      float: left;
    }

    span.float-left span {
      margin: 13px 0 0;
    }

    span.float-right {
      display: block;
      margin-left: 13px;
      overflow: hidden;
      float: right;
    }

    span.float-right > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right;
    }

    code, tt {
      font-family: "Lucida Console", "Courier New", courier;
      font-size: 12px;
      margin: 0 2px;
      padding: 3px 5px;
      white-space: nowrap;
      border: 1px solid #eaeaea;
      background-color: #f8f8f8;
      border-radius: 3px;
    }

    pre code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent;
    }

    .highlight pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre {
      background-color: #f8f8f8;
      border: 1px solid #cccccc;
      font-size: 13px;
      line-height: 19px;
      overflow: auto;
      padding: 6px 10px;
      border-radius: 3px;
    }

    pre code, pre tt {
      background-color: transparent;
      border: none;
    }

    span.line-numbers {
      margin-right: 10px;
    }

    img.logo {
      display: block;
      margin: 10px auto;
    }

    h1.logo {
      text-align: center;
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div id="containter">
    <h1 class="logo">Practicing Ruby</h1>
    <img class="logo" src="../images/header.png" />
    <blockquote>
  <p>This issue of Practicing Ruby was directly inspired by Nick Morgan’s
<a href="http://skilldrick.github.io/easy6502/">Easy 6502</a> tutorial. While
the Ruby code in this article is my own, the bytecode for the
Snake6502 game was shamelessly stolen from Nick. Be sure to check
out <a href="http://skilldrick.github.io/easy6502/">Easy 6502</a> if this topic 
interests you; it’s one of the best programming tutorials I’ve ever seen.</p>
</blockquote>

<p>The sea of numbers you see below is about as close to the metal as programming gets:</p>

<pre><code>0600: 20 06 06 20 38 06 20 0d 06 20 2a 06 60 a9 02 85 
0610: 02 a9 04 85 03 a9 11 85 10 a9 10 85 12 a9 0f 85 
0620: 14 a9 04 85 11 85 13 85 15 60 a5 fe 85 00 a5 fe 
0630: 29 03 18 69 02 85 01 60 20 4d 06 20 8d 06 20 c3 
0640: 06 20 19 07 20 20 07 20 2d 07 4c 38 06 a5 ff c9 
0650: 77 f0 0d c9 64 f0 14 c9 73 f0 1b c9 61 f0 22 60 
0660: a9 04 24 02 d0 26 a9 01 85 02 60 a9 08 24 02 d0 
0670: 1b a9 02 85 02 60 a9 01 24 02 d0 10 a9 04 85 02 
0680: 60 a9 02 24 02 d0 05 a9 08 85 02 60 60 20 94 06 
0690: 20 a8 06 60 a5 00 c5 10 d0 0d a5 01 c5 11 d0 07 
06a0: e6 03 e6 03 20 2a 06 60 a2 02 b5 10 c5 10 d0 06 
06b0: b5 11 c5 11 f0 09 e8 e8 e4 03 f0 06 4c aa 06 4c 
06c0: 35 07 60 a6 03 ca 8a b5 10 95 12 ca 10 f9 a5 02 
06d0: 4a b0 09 4a b0 19 4a b0 1f 4a b0 2f a5 10 38 e9 
06e0: 20 85 10 90 01 60 c6 11 a9 01 c5 11 f0 28 60 e6 
06f0: 10 a9 1f 24 10 f0 1f 60 a5 10 18 69 20 85 10 b0 
0700: 01 60 e6 11 a9 06 c5 11 f0 0c 60 c6 10 a5 10 29 
0710: 1f c9 1f f0 01 60 4c 35 07 a0 00 a5 fe 91 00 60 
0720: a2 00 a9 01 81 10 a6 03 a9 00 81 10 60 a2 00 ea 
0730: ea ca d0 fb 60 
</code></pre>

<p>Although you probably can’t tell by looking at it, what you see here
is assembled machine code for the venerable 6502 processor that powered 
many of the classic video games of the 1980s. When executed in simulated
environment, this small set of cryptic instructions produces a minimal
version of the Snake arcade game, as shown below:</p>

<p><img src="http://i.imgur.com/0DsKeoy.gif" alt="" /></p>

<p>In this article, we will build a stripped down 6502 simulator 
in JRuby that is complete enough to run this game. If you haven’t done much 
low-level programming before, don’t worry! Most of what follows is 
just ordinary Ruby code. I will also be showing you a ton of examples 
along the way, and those should help keep you on track. You might also
want to grab <a href="https://github.com/sandal/vintage">full source code</a> for 
the simulator, so that you can experiment with it while 
reading through this article.</p>

<h2 id="warmup-exercise-reverse-engineering-snake6502">Warmup exercise: Reverse engineering Snake6502</h2>

<p>An interesting property of machine code is that if you know its structure,
you can convert it back into assembly language. Among other things,
the ability to disassemble machine code is useful for debugging and
exploration purposes. Let’s try this out on Snake6502! </p>

<p>The output below shows memory locations, machine code, and assembly code for the
first 28 instructions of the game. These instructions are responsible for
initializing the state of the snake and the apple before the main event 
loop kicks off. You don’t need to understand exactly how they work right
now, just try to get a feel for how the code in the <code>hexdump</code> column corresponds
to the code in the <code>assembly</code> column:</p>

<pre><code>address  hexdump     assembly
------------------------------
$0600    20 06 06    JSR $0606
$0603    20 38 06    JSR $0638
$0606    20 0d 06    JSR $060d
$0609    20 2a 06    JSR $062a
$060c    60          RTS
$060d    a9 02       LDA #$02
$060f    85 02       STA $02
$0611    a9 04       LDA #$04
$0613    85 03       STA $03
$0615    a9 11       LDA #$11
$0617    85 10       STA $10
$0619    a9 10       LDA #$10
$061b    85 12       STA $12
$061d    a9 0f       LDA #$0f
$061f    85 14       STA $14
$0621    a9 04       LDA #$04
$0623    85 11       STA $11
$0625    85 13       STA $13
$0627    85 15       STA $15
$0629    60          RTS
$062a    a5 fe       LDA $fe
$062c    85 00       STA $00
$062e    a5 fe       LDA $fe
$0630    29 03       AND #$03
$0632    18          CLC
$0633    69 02       ADC #$02
$0635    85 01       STA $01
$0637    60          RTS
</code></pre>

<p>If you look at the output carefully, you’ll be able to notice some patterns even
if you don’t understand what the instructions themselves are meant to do. For
example, each instruction is made up of between 1-3 bytes of machine code. The
first byte in each instruction tells us what operation it is, and the remaining
bytes (if any) form its operand.</p>

<p>If you take a look at the first four instructions, it is easy to see that the
opcode <code>20</code> corresponds to the <code>JSR</code> instruction. Forming its operand is
similarly straightforward, because it’s the same number in both places, 
just with opposite byte order:</p>

<pre><code>20 06 06 -&gt; JSR $0606  
20 38 06 -&gt; JSR $0638
20 0d 06 -&gt; JSR $060d
20 2a 06 -&gt; JSR $062a
</code></pre>

<p>If you ignore the symbols in front of the numbers for the moment, mapping single
byte operands is even easier, because they’re represented the same way in both
the machine code and the assembly code. Knowing that the <code>85</code> opcode maps
to the <code>STA</code> operation, it should be easy to see how <code>11, 13, 15</code> map to
<code>$11, $13, $15</code> in the following example:</p>

<pre><code>85 11  -&gt; STA $11
85 13  -&gt; STA $13
85 15  -&gt; STA $15
</code></pre>

<p>But the symbols in front of the numbers in assembly language obviously mean
something. If you carefully look at the machine code, you’ll be able to find
that the same operation can have multiple different opcodes, each of which
identify a particular kind of operand:</p>

<pre><code>a9 0f -&gt; LDA #$0f
a5 fe -&gt; LDA $fe
</code></pre>

<p>Without getting into too much detail here, the example above shows us that both
<code>a9</code> and <code>a5</code> correspond to the <code>LDA</code> instruction. The difference between the
two opcodes is that <code>a9</code> treats its operand as an immediate value, and <code>a5</code> 
interprets it as a memory address. In assembly code, this difference is
represented syntactically (<code>#$xx</code> vs. <code>$xx</code>), but in the machine code we must
rely on numbers alone.</p>

<p>The various ways of interpreting operands (called “addressing modes”) are
probably the most confusing part of working with 6502 code. There are
about a dozen of them, and to get Snake6502 running, we need to implement
most of them. The good news is that every addressing mode is just a
roundabout way of converting an operand into a particular address in memory, and once you have that
address, the operations themselves do not care about how you computed it.
Once you sweep all that stuff under the rug, you can end up with clean
operation definitions like this:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#777"># NOTE: 'e' refers to the address that was computed from the instruction's</span>
<span style="color:#777"># operand and addressing mode.</span>

<span style="color:#036;font-weight:bold">LDA</span> { cpu[<span style="color:#A60">:a</span>] = mem[e]  } 
<span style="color:#036;font-weight:bold">STA</span> { mem[e]  = cpu[<span style="color:#A60">:a</span>] }
</pre></div>
</div>
</div>

<p>This realization also tells us that the memory module will not need to take
addressing modes into account as long as they’re precomputed elsewhere. With
that in mind, let’s get started building a storage model for our simulator.
We’ll deal with the hairy problem of addressing modes later.</p>

<h2 id="memory">Memory</h2>

<p>Except for a few registers that are used to store intermediate
computations, the 6502 processor relies on its memory for pretty much
everything. Program code, data, and the system stack all reside in 
the same 16-bit addressing space. Even flow control is entirely
dependent on memory: the program counter itself is nothing more
than an address that is used to look up the next instruction to run.</p>

<p>This “all in one bucket” approach is a double-edged sword. It makes it harder to
write safe programs, but the tradeoff is that the storage model itself is very
simple. Conceptually, the memory module is nothing more than a mapping 
between 16-bit addresses and 8-bit values:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>describe <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">Storage</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  let(<span style="color:#A60">:mem</span>) { <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>.new }

  it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">can get and set values</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
    mem[<span style="color:#00D">0x1337</span>] = <span style="color:#00D">0xAE</span>

    mem[<span style="color:#00D">0x1337</span>].must_equal(<span style="color:#00D">0xAE</span>)
  <span style="color:#080;font-weight:bold">end</span>

  <span style="color:#777"># ...</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>But because the program counter keeps track of a ‘current location’ 
in memory at any point in time, there is a lot more we can do with 
this simple structure. Let’s walk through the remaining tests 
for <code>Vintage::Storage</code> to see what else it implements.</p>

<p><strong>Program loading</strong></p>

<p>When a program is loaded into memory, there is nothing special about the 
way it is stored, it’s just like any other data. In a real 6502 processer,
a register is used to store the address of the 
next instruction to be run, and that address is used to read an opcode
from memory. In our simulator, we can let the <code>Storage</code> class keep track 
of this number for us, incrementing it whenever we call 
the <code>Storage#next</code> method.</p>

<p>The following test shows how to load a program and then walk its code one byte at a time:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">can load a bytecode sequence into memory and traverse it</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  bytes = [<span style="color:#00D">0x20</span>, <span style="color:#00D">0x06</span>, <span style="color:#00D">0x06</span>]

  mem.load(bytes)
  mem.pc.must_equal(program_offset) <span style="color:#777"># load() does not increment counter</span>

  bytes.each { |b| mem.next.must_equal(b) }

  mem.pc.must_equal(program_offset + <span style="color:#00D">3</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>The starting position of the program can be an arbitrary location, but
to maintain compatibility with the simulator from the Easy6502 tutorial, we
initialize the program counter to <code>0x600</code>:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>let(<span style="color:#A60">:program_offset</span>) { <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>::<span style="color:#036;font-weight:bold">PROGRAM_OFFSET</span> }

it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">sets an initial position of $0600</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  program_offset.must_equal(<span style="color:#00D">0x0600</span>)

  mem.pc.must_equal(program_offset)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p><strong>Flow control + branching</strong></p>

<p>Very rudimentary flow control is supported by setting the 
program counter to a particular address, which causes the 
processor to <code>jump</code> to the instruction at that address:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">implements jump</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  mem.jump(program_offset + <span style="color:#00D">0xAB</span>)

  mem.pc.must_equal(program_offset + <span style="color:#00D">0xAB</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Branching can be implemented by only calling <code>jump</code> when a
condition is met:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">implements conditional branching</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  big   = <span style="color:#00D">0xAB</span>
  small = <span style="color:#00D">0x01</span>

  <span style="color:#777"># a false condition does not affect mem.pc</span>
  mem.branch(small &gt; big, program_offset + <span style="color:#00D">5</span>)
  mem.pc.must_equal(program_offset)

  <span style="color:#777"># true condition jumps to the provided address</span>
  mem.branch(big &gt; small, program_offset + <span style="color:#00D">5</span>)
  mem.pc.must_equal(program_offset + <span style="color:#00D">5</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>This test case is a bit contrived, so let’s take a look at 
some real Snake6502 code that illustrates how branching meant to be used:</p>

<pre><code>$064d    a5 ff     LDA $ff      # read the last key pressed on the keyboard
$064f    c9 77     CMP #$77     # check if the key was "w" (ASCII code 0x77)
$0651    f0 0d     BEQ $0660    # if so, jump forward to $0660 
$0653    c9 64     CMP #$64     # check if the key was "d" (ASCII code 0x64)
$0655    f0 14     BEQ $066b    # if so, jump forward to $066b
$0657    c9 73     CMP #$73     # check if the key was "s" (ASCII code 0x73)
$0659    f0 1b     BEQ $0676    # if so, jump forward to $0676
$065b    c9 61     CMP #$61     # check if the key was "a" (ASCII code 0x61)
$065d    f0 22     BEQ $0681    # if so, jump forward to $0681
</code></pre>

<p>Presumably, the code at <code>$0660</code> starts a procedure that moves the snake’s
head up, the code at <code>$066b</code> moves it to the right, and so on. In other words,
if one of these <code>BEQ</code> instructions finds a match, it will jump to the right place 
in the code to handle the relevant condition. But if no match is found, the 
processor will happily continue on to whatever code comes after this set of 
instructions in the program.</p>

<p>The tricky thing about using instructions that rely on <code>jump</code> (and consequently,
<code>branch</code>) is that they are essentially GOTO statements. When you see one of
these statements in the code, you know exactly what instruction will be executed
next, but there’s no way of telling if it will ever return to the location
it was called from. To get around this problem, we need support for subroutines
that know how to return to where they’ve been called from. And to implement
<em>those</em>, we need a system stack.</p>

<p><strong>Stack operations</strong></p>

<p>Here are the tests for how we’d like our stack to behave:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>let(<span style="color:#A60">:stack_origin</span>) { <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>::<span style="color:#036;font-weight:bold">STACK_ORIGIN</span> }
let(<span style="color:#A60">:stack_offset</span>) { <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>::<span style="color:#036;font-weight:bold">STACK_OFFSET</span> }

it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">has a 256 element stack between 0x0100-0x01ff</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  stack_offset.must_equal(<span style="color:#00D">0x0100</span>)
  stack_origin.must_equal(<span style="color:#00D">0xff</span>) <span style="color:#777"># this value gets added to the offset</span>
<span style="color:#080;font-weight:bold">end</span>

it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">implements stack-like behavior</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  mem.sp.must_equal(stack_origin)

  mem.push(<span style="color:#00D">0x01</span>)
  mem.push(<span style="color:#00D">0x03</span>)
  mem.push(<span style="color:#00D">0x05</span>)

  mem.sp.must_equal(stack_origin - <span style="color:#00D">3</span>)

  mem.pull.must_equal(<span style="color:#00D">0x05</span>)
  mem.pull.must_equal(<span style="color:#00D">0x03</span>)
  mem.pull.must_equal(<span style="color:#00D">0x01</span>)

  mem.sp.must_equal(stack_origin)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>As the tests indirectly suggest, the stack is a region in memory 
between<code>$0100</code> and <code>$01ff</code>, indexed by a stack pointer (<code>sp</code>).
Each time a value is pushed onto the stack, the value of the 
stack pointer is decremented, and each time a value is pulled, 
the pointer is incremented. This makes it so that the stack
pointer always tells you where the “top of the stack” is.</p>

<p><strong>Subroutines</strong></p>

<p>With a stack in place, we’ll have most of what we need to implement
“Jump to subroutine” (<code>jsr</code>) and “Return from subroutine” (<code>rts</code>)
functionality. The behavior of these features will end up 
looking something like this:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">implements jsr/rts</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  mem.jsr(<span style="color:#00D">0x0606</span>)
  mem.jsr(<span style="color:#00D">0x060d</span>)

  mem.pc.must_equal(<span style="color:#00D">0x060d</span>)

  mem.rts
  mem.pc.must_equal(<span style="color:#00D">0x0606</span>)

  mem.rts
  mem.pc.must_equal(program_offset)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>To make the above test pass, <code>jsr</code> needs to <code>push</code> the current 
program counter onto the stack before executing a <code>jump</code> to the 
specified address. Later when <code>rts</code> is called, the address is
pulled out of the stack, and then another <code>jump</code> is executed
to bring you back to where the last <code>jsr</code> command was executed.
This works fine even in nested subroutine calls, due to the
nature of how stacks work.</p>

<p>The only tricky part is that addresses are 16-bit values, but 
stack entries are limited to single byte values. To get around
this problem, we need a couple helper functions to convert
a 16-bit number into two bytes, and vice-versa:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">can convert two bytes into a 16 bit integer</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  mem.int16([<span style="color:#00D">0x37</span>, <span style="color:#00D">0x13</span>]).must_equal(<span style="color:#00D">0x1337</span>)
<span style="color:#080;font-weight:bold">end</span>

it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">can convert a 16 bit integer into two bytes</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  mem.bytes(<span style="color:#00D">0x1337</span>).must_equal([<span style="color:#00D">0x37</span>, <span style="color:#00D">0x13</span>])
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>These helpers will also come in handy later, when we need to deal with
addressing modes.</p>

<p><strong>Implementation</strong></p>

<p>Behavior-wise, there is a lot of functionality here. In a high level
environment it would feel a lot like we were mixing distinct concerns,
but at the low level we’re working at it’s understandable that nearly
infinite flexibility is desireable.</p>

<p>Despite the conceptual complexity, the <code>Storage</code> class is extremely easy to 
implement. In fact, it takes less than 80 lines of code if you don’t
worry about validations and robustness:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Storage</span>
    <span style="color:#036;font-weight:bold">PROGRAM_OFFSET</span> = <span style="color:#00D">0x0600</span>
    <span style="color:#036;font-weight:bold">STACK_OFFSET</span>   = <span style="color:#00D">0x0100</span>
    <span style="color:#036;font-weight:bold">STACK_ORIGIN</span>   = <span style="color:#00D">0xff</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>
      <span style="color:#33B">@memory</span> = <span style="color:#036;font-weight:bold">Hash</span>.new(<span style="color:#00D">0</span>)
      <span style="color:#33B">@pc</span>     = <span style="color:#036;font-weight:bold">PROGRAM_OFFSET</span>
      <span style="color:#33B">@sp</span>     = <span style="color:#036;font-weight:bold">STACK_ORIGIN</span>
    <span style="color:#080;font-weight:bold">end</span>

    attr_reader <span style="color:#A60">:pc</span>, <span style="color:#A60">:sp</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">load</span>(bytes)
      index = <span style="color:#036;font-weight:bold">PROGRAM_OFFSET</span>

      bytes.each_with_index { |c,i| <span style="color:#33B">@memory</span>[index+i] = c }
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]</span>(address)
      <span style="color:#33B">@memory</span>[address]
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]=</span>(address, value)
      <span style="color:#33B">@memory</span>[address] = (value &amp; <span style="color:#00D">0xff</span>)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">next</span>
      <span style="color:#33B">@memory</span>[<span style="color:#33B">@pc</span>].tap { <span style="color:#33B">@pc</span> += <span style="color:#00D">1</span> }
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">jump</span>(address)
      <span style="color:#33B">@pc</span> = address
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">branch</span>(test, address)
      <span style="color:#080;font-weight:bold">return</span> <span style="color:#080;font-weight:bold">unless</span> test

      <span style="color:#33B">@pc</span> = address
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">jsr</span>(address)
      low, high = bytes(<span style="color:#33B">@pc</span>)

      push(low)
      push(high)

      jump(address)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">rts</span>
      h = pull
      l = pull

      <span style="color:#33B">@pc</span> = int16([l, h])
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">push</span>(value)
      <span style="color:#33B">@memory</span>[<span style="color:#036;font-weight:bold">STACK_OFFSET</span> + <span style="color:#33B">@sp</span>] = value
      <span style="color:#33B">@sp</span> -= <span style="color:#00D">1</span>
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">pull</span>
      <span style="color:#33B">@sp</span> += <span style="color:#00D">1</span>

      <span style="color:#33B">@memory</span>[<span style="color:#036;font-weight:bold">STACK_OFFSET</span> + <span style="color:#33B">@sp</span>]
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">int16</span>(bytes)
      bytes.pack(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">c*</span><span style="color:#710">&quot;</span></span>).unpack(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">v</span><span style="color:#710">&quot;</span></span>).first
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">bytes</span>(num)
      [num].pack(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">v</span><span style="color:#710">&quot;</span></span>).unpack(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">c*</span><span style="color:#710">&quot;</span></span>)
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>For such boring code, its a bit surprising to think that it can be a fundamental
building block for generic computing. Keep in mind of course that we’re building
a simulation and not a real piece of hardware, and we’re doing it in one of the
highest level languages you can use.</p>

<p>If it already feels like we’re cheating, just wait until you see the next trick!</p>

<h2 id="memory-mapped-io">Memory-mapped I/O</h2>

<p>To implement Snake6502, our simulator needs to be able to generate random
numbers, read keyboard input, and also display graphics on the screen. None of
these features are directly supported by the 6502 instruction set, so that means
that every individual system had to come up with its own way of doing things.
This is one of many things that causes machine code (especially old-school
machine code) to not be directly portable from one system to another.</p>

<p>Because we’re trying to get Snake6502 to run in our simulator without modifying
its bytecode, we’re more-or-less constrained to following the approach used by
the Easy6502 simulator: memory-mapped I/O.</p>

<p>This approach is actually very easy to implement in a simulated environment: you
add hooks around certain memory addresses so that when they are accessed, they
execute some custom code rather than directly reading or writing a 
value to memory. In the case of Snake6502, we expect the following behaviors:</p>

<ul>
  <li>Reading from <code>$fe</code>  returns a random 8-bit integer.</li>
  <li>Reading from <code>$ff</code> retrieves the ASCII code of the last key 
pressed on the keyboard.</li>
  <li>Writing to addresses between <code>$0200</code> to <code>$05ff</code> will render
pixels to the screen. (<code>$0200</code> is the top-left corner
of the 32x32 display, and <code>$05ff</code> is the bottom-right corner.)</li>
</ul>

<p>These features could be added directly to the <code>Storage</code> class,  but it would
feel a bit awkward to clutter up a generic module with some very specific edge
cases. For that reason, it is probably better to implement them as a module
mixin: </p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">MemoryMap</span>
    <span style="color:#036;font-weight:bold">RANDOMIZER</span>  = <span style="color:#00D">0xfe</span>
    <span style="color:#036;font-weight:bold">KEY_PRESS</span>   = <span style="color:#00D">0xff</span>
    <span style="color:#036;font-weight:bold">PIXEL_ARRAY</span> = (<span style="color:#00D">0x0200</span>..<span style="color:#00D">0x05ff</span>)

    attr_accessor <span style="color:#A60">:ui</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]</span>(address)
      <span style="color:#080;font-weight:bold">case</span> address
      <span style="color:#080;font-weight:bold">when</span> <span style="color:#036;font-weight:bold">RANDOMIZER</span>
        rand(<span style="color:#00D">0xff</span>)
      <span style="color:#080;font-weight:bold">when</span> <span style="color:#036;font-weight:bold">KEY_PRESS</span>
        ui.last_keypress
      <span style="color:#080;font-weight:bold">else</span>
        <span style="color:#080;font-weight:bold">super</span>
      <span style="color:#080;font-weight:bold">end</span>
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]=</span>(k, v)
      <span style="color:#080;font-weight:bold">super</span>

      <span style="color:#080;font-weight:bold">if</span> <span style="color:#036;font-weight:bold">PIXEL_ARRAY</span>.include?(k)
        ui.update(k % <span style="color:#00D">32</span>, (k - <span style="color:#00D">0x0200</span>) / <span style="color:#00D">32</span>, v % <span style="color:#00D">16</span>)
      <span style="color:#080;font-weight:bold">end</span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>You probably already have a good idea of how <code>MemoryMap</code> works from seeing
its implementation, but it wouldn’t hurt to see an example of how it is
used before we move on. Here’s how to display a single pixel on the 
screen, randomly varying its color until the spacebar (ASCII code 0x20) 
is pressed:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>mem = <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>.new
mem.extend(<span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">MemoryMap</span>)

mem.ui = <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Display</span>.new 

(mem[<span style="color:#00D">0x0410</span>] = mem[<span style="color:#00D">0xfe</span>]) <span style="color:#080;font-weight:bold">until</span> mem[<span style="color:#00D">0xff</span>] == <span style="color:#00D">0x20</span> 
</pre></div>
</div>
</div>

<p>It’s worth noting that this is the only code in the entire simulator that
directly depends on a connection to some sort of user interface, and the
protocol consists of just two methods: <code>ui.update(x, y, color)</code> and
<code>ui.last_keypress</code>. In our case, we use a JRuby-based GUI, but anything
else could be substituted as long as it implemented these two methods.</p>

<p>At this point, our storage model is pretty much complete. We now can 
turn our attention to various number crunching features.</p>

<h2 id="registers-and-flags">Registers and Flags</h2>

<p>In order to get Snake6502 to run, we need all six of
the programmable registers that the processor provides. We’ve handled two of
them already (the stack pointer and the program counter), so we just have four
more to implement: A, X, Y, and P. A few design constraints will help make this
work go a whole lot faster:</p>

<ul>
  <li>
    <p>Most of the operations that can be done on A are done the same way on X and Y,
so we can implement some generic functions that operate on all three of them.</p>
  </li>
  <li>
    <p>We can implement the status register (P) as a collection of individual
attributes, rather than seven 1-bit flags packs into a single byte.</p>
  </li>
  <li>
    <p>Because Snake6502 only relies on the (c)arry, (n)egative, and (z)ero flags
from the status register, we can skip implementing the other four status flags 
and still have a playable game.</p>
  </li>
</ul>

<p>With those limitations in mind, let’s work through some specs to understand
how this model ought to behave. For starters, we’ll be building a <code>Vintage::CPU</code> 
that implements three registers and three flags, initializing them all to 
zero by default:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>describe <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">CPU</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  let(<span style="color:#A60">:cpu</span>) { <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">CPU</span>.new }

  let(<span style="color:#A60">:registers</span>) { [<span style="color:#A60">:a</span>, <span style="color:#A60">:x</span>, <span style="color:#A60">:y</span>] }
  let(<span style="color:#A60">:flags</span>)     { [<span style="color:#A60">:c</span>, <span style="color:#A60">:n</span>, <span style="color:#A60">:z</span>] }
  
  it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">initializes registers and flags to zero</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
    (registers + flags).each { |e| cpu[e].must_equal(<span style="color:#00D">0</span>) }
  <span style="color:#080;font-weight:bold">end</span>

   <span style="color:#777">#...</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>It will be possible to directly set registers via the <code>#[]=</code> method, because
the behavior will be the same for all three registers:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">allows directly setting registers</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  registers.each <span style="color:#080;font-weight:bold">do</span> |e|
    value  = rand(<span style="color:#00D">0xff</span>)

    cpu[e] = value
    cpu[e].must_equal(value)
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>However, because flags don’t have the same update semantics as registers, we 
will not allow directly setting them via <code>#[]=</code>:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">does not allow directly setting flags</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  flags.each <span style="color:#080;font-weight:bold">do</span> |e|
    value  = rand(<span style="color:#00D">0xff</span>)

    err = -&gt; { cpu[e] = value }.must_raise(<span style="color:#036;font-weight:bold">ArgumentError</span>)
    err.message.must_equal <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>e.inspect<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20"> is not a register</span><span style="color:#710">&quot;</span></span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>The carry flag (c) can toggled via the <code>set_carry</code> and <code>clear_carry</code> 
methods. We’ll need this later for getting the <code>CPU</code>  into
a clean state whenever we do addition and subtraction 
operations:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">allows setting the c flag via set_carry and clear_carry</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  cpu.set_carry
  expect_flags(<span style="color:#A60">:c</span> =&gt; <span style="color:#00D">1</span>)

  cpu.clear_carry
  expect_flags(<span style="color:#A60">:c</span> =&gt; <span style="color:#00D">0</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Some other instructions will require us to set the carry flag
based on arbitrary conditions, so we’ll need support for that as well:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">allows conditionally setting the c flag via carry_if</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  <span style="color:#777"># true condition</span>
  x = <span style="color:#00D">3</span>
  cpu.carry_if(x &gt; <span style="color:#00D">1</span>)

  expect_flags(<span style="color:#A60">:c</span> =&gt; <span style="color:#00D">1</span>)

  <span style="color:#777"># false condition</span>
  x = <span style="color:#00D">0</span>
  cpu.carry_if(x &gt; <span style="color:#00D">1</span>)

  expect_flags(<span style="color:#A60">:c</span> =&gt; <span style="color:#00D">0</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>The N and Z flags are set based on whatever result the <code>CPU</code> last processed:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">sets z=1 when a result is zero, sets z=0 otherwise</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  cpu.result(<span style="color:#00D">0</span>)
  expect_flags(<span style="color:#A60">:z</span> =&gt; <span style="color:#00D">1</span>)

  cpu.result(<span style="color:#00D">0xcc</span>)
  expect_flags(<span style="color:#A60">:z</span> =&gt; <span style="color:#00D">0</span>)
<span style="color:#080;font-weight:bold">end</span>

it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">sets n=1 when result is 0x80 or higher, n=0 otherwise</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  cpu.result(rand(<span style="color:#00D">0x80</span>..<span style="color:#00D">0xff</span>))
  expect_flags(<span style="color:#A60">:n</span> =&gt; <span style="color:#00D">1</span>)

  cpu.result(rand(<span style="color:#00D">0x00</span>..<span style="color:#00D">0x7f</span>))
  expect_flags(<span style="color:#A60">:n</span> =&gt; <span style="color:#00D">0</span>)
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>The <code>result</code> method also returns a number truncated to fit in a single byte,
because pretty much every place we could store a number in this system
expects 8-bit integers:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">truncates results to fit in a single byte</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
  cpu.result(<span style="color:#00D">0x1337</span>).must_equal(<span style="color:#00D">0x37</span>)
<span style="color:#080;font-weight:bold">end</span>  
</pre></div>
</div>
</div>

<p>To help keep the <code>CPU</code> in a consistent state and to simplify the work
involved in many of the 6502 instructions, we automatically call <code>cpu.result</code>
whenever a register is set via <code>CPU#[]=</code>. The tests below show the 
the effects of that behavior:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>  it <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">implicitly calls result() when registers are set</span><span style="color:#710">&quot;</span></span> <span style="color:#080;font-weight:bold">do</span>
    registers.each <span style="color:#080;font-weight:bold">do</span> |e|
      cpu[e] = <span style="color:#00D">0x100</span>
      
      cpu[e].must_equal(<span style="color:#00D">0</span>)
      expect_flags(<span style="color:#A60">:z</span> =&gt; <span style="color:#00D">1</span>, <span style="color:#A60">:n</span> =&gt; <span style="color:#00D">0</span>)

      cpu[e] -= <span style="color:#00D">1</span>
      
      cpu[e].must_equal(<span style="color:#00D">0xff</span>)
      expect_flags(<span style="color:#A60">:z</span> =&gt; <span style="color:#00D">0</span>, <span style="color:#A60">:n</span> =&gt; <span style="color:#00D">1</span>)
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Here’s an implementation that satisfies all of the tests we’ve seen so far:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">CPU</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>
      <span style="color:#33B">@registers</span> = { <span style="color:#A60">:a</span> =&gt; <span style="color:#00D">0</span>, <span style="color:#A60">:x</span> =&gt; <span style="color:#00D">0</span>, <span style="color:#A60">:y</span> =&gt; <span style="color:#00D">0</span> }
      <span style="color:#33B">@flags</span>     = { <span style="color:#A60">:z</span> =&gt; <span style="color:#00D">0</span>, <span style="color:#A60">:c</span> =&gt; <span style="color:#00D">0</span>, <span style="color:#A60">:n</span> =&gt; <span style="color:#00D">0</span> }
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]</span>(key)
      <span style="color:#33B">@registers</span>[key] || <span style="color:#33B">@flags</span>.fetch(key)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">[]=</span>(key, value)
      <span style="color:#080;font-weight:bold">unless</span> <span style="color:#33B">@registers</span>.key?(key)
        raise <span style="color:#036;font-weight:bold">ArgumentError</span>, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>key.inspect<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20"> is not a register</span><span style="color:#710">&quot;</span></span> 
      <span style="color:#080;font-weight:bold">end</span>

      <span style="color:#33B">@registers</span>[key] = result(value)
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">set_carry</span>
      <span style="color:#33B">@flags</span>[<span style="color:#A60">:c</span>] = <span style="color:#00D">1</span>
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">clear_carry</span>
      <span style="color:#33B">@flags</span>[<span style="color:#A60">:c</span>] = <span style="color:#00D">0</span>
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">carry_if</span>(test)
      test ? set_carry : clear_carry
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">result</span>(number)
      number &amp;= <span style="color:#00D">0xff</span>

      <span style="color:#33B">@flags</span>[<span style="color:#A60">:z</span>] = (number == <span style="color:#00D">0</span> ? <span style="color:#00D">1</span> : <span style="color:#00D">0</span>)
      <span style="color:#33B">@flags</span>[<span style="color:#A60">:n</span>] = number[<span style="color:#00D">7</span>]

      number
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Putting it all together, the role of the <code>CPU</code> class is mostly just to do some
basic numerical housekeeping that will make implementing 6502 instructions
easier. Consider for example, the <code>CMP</code> and <code>BEQ</code> operations, which can
be used together to form a primitive sort of <code>if</code> statement. We saw these two
operations used together in the earlier example of keyboard input handling:</p>

<pre><code>$064f    c9 77     CMP #$77     # check if the key was "w" (ASCII code 0x77)
$0651    f0 0d     BEQ $0660    # if so, jump forward to $0660 
</code></pre>

<p>Using a combination of the <code>CPU</code> and <code>Storage</code> objects we’ve already built, we’d
be able to define the <code>CMP</code> and <code>BEQ</code> operations as shown below:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#036;font-weight:bold">CMP</span> <span style="color:#080;font-weight:bold">do</span> 
  cpu.carry_if(cpu[<span style="color:#A60">:a</span>] &gt;= mem[e])

  cpu.result( cpu[<span style="color:#A60">:a</span>] - mem[e] )
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#036;font-weight:bold">BEQ</span> { mem.branch(cpu[<span style="color:#A60">:z</span>] == <span style="color:#00D">1</span>, e) }
</pre></div>
</div>
</div>

<p>Even if we ignore the <code>cpu.carry_if</code> call, we know from what we’ve seen
already that if <code>CPU#result</code> is called with a zero value, it will set the Z flag
to 1. We also know that when <code>Storage#branch</code> is called with a true value, it
will jump to the specified address, otherwise it will do nothing at all. Putting
those two facts together with the Snake6502 shown above tells us that if the
value in the A register is <code>0x77</code>, execution will jump to <code>$0600</code>.</p>

<p>At this point, we’re starting to see how 6502 instructions can be
mapped onto the objects we’ve already built, and that means we’re 
close to the finish line.  Before we get there, we only have two obstacles
to clear: implementing addressing modes to handle operands, and building
a program runner that knows how to map raw 6502 code to the operation 
definitions shown above.</p>

<h2 id="addressing-modes">Addressing Modes</h2>

<blockquote>
  <p><strong>NOTE:</strong> The explanation that follows barely scrapes the surface of
this topic. If you want to really understand 6502 addressing modes, you should check
out the <a href="http://skilldrick.github.io/easy6502/#addressing">relevant section</a>
in the Easy6502 tutorial.</p>
</blockquote>

<p>In the very first exercise where we disassembled the first few instructions
of Snake6502, we discovered the presence of several addressing modes
that cause operands to be interpreted in various different ways. To get
the game running, we will need to handle a total of eight different 
addressing modes.</p>

<p>This is a lot of different ways to generate an address, and its intimidating 
to realize we’re only implementing an incomplete subset of what the 6502 processor 
provides. However, its important to keep in mind that the only data structure 
we have to work with is a simple mapping from 16-bit integers to 8-bit 
integers. Among other things, clever indexing can give us the functionality we’d
expect from variables, references, and arrays – all the stuff that doesn’t have
a direct representation in machine code.</p>

<p>I’m going to show the definitions for all of the addressing modes used by
Snake6502 below, which probably won’t make much sense at first glance. But try
to see if you can figure out what some of this code doing:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Operand</span>
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#069">self</span>.<span style="color:#06B;font-weight:bold">read</span>(mem, mode, x, y)
      <span style="color:#080;font-weight:bold">case</span> mode
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">#</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Implicit </span>
        <span style="color:#069">nil</span>
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">@</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Relative</span>
        offset = mem.next

        mem.pc + (offset &lt;= <span style="color:#00D">0x80</span> ? offset : -(<span style="color:#00D">0xff</span> - offset + <span style="color:#00D">1</span>)) 
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">IM</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Immediate</span>
        mem.pc.tap { mem.next }
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ZP</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Zero Page</span>
        mem.next
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">ZX</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Zero Page, X</span>
        mem.next + x
      <span style="color:#080;font-weight:bold">when</span>  <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">AB</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Absolute</span>
        mem.int16([mem.next, mem.next])
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">IX</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Indexed Indirect</span>
        e = mem.next

        mem.int16([mem[e + x], mem[e + x + <span style="color:#00D">1</span>]])
      <span style="color:#080;font-weight:bold">when</span> <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">IY</span><span style="color:#710">&quot;</span></span> <span style="color:#777"># Indirect Indexed</span>
        e = mem.next

        mem.int16([mem[e], mem[e+<span style="color:#00D">1</span>]]) + y
      <span style="color:#080;font-weight:bold">else</span>
        raise <span style="color:#036;font-weight:bold">NotImplementedError</span>, mode.inspect
      <span style="color:#080;font-weight:bold">end</span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Now let’s walk through them one-by-one. You can refer to the source code above as needed
to make sense of the following examples.</p>

<p>1) The implicit addressing mode is meant for instructions that either don’t operate 
on a memory address at all, or can infer the address internally. An example
we’ve already seen is the <code>RTS</code> operations that is used to return from a subroutine –
it gets its data from the stack rather than from an operand, making it a single
byte instruction. </p>

<p>2) The relative addressing mode is used by branches only. Consider
the following example:</p>

<pre><code>$0651    f0 0d     BEQ $0660    # if Z=1, jump to $0660 
</code></pre>

<p>By the time the <code>$0d</code> operand is read, the program counter will be set to
<code>$0653</code>. If you add these two numbers together, you get the address to jump to
if Z=1: <code>$0660</code>.</p>

<p>3) Immediate addressing is used when you want to have an instruction work on the
operand itself. To do so, we return the operand’s address, then increment the 
program counter as normal. In the example below, the computed address (<code>e</code>) 
is <code>0x0650</code>, and <code>mem[e] == 0x77</code>:</p>

<pre><code>$064f    c9 77     CMP #$77
</code></pre>

<p>4) Zero page addressing is straightforward, it is simply refers to any address
between <code>$00</code> and <code>$ff</code>. These are convenient for storing program data in, and
are faster to access because they do not require combining two bytes into a 16
bit integer. We’ve already seen copious use of this address mode throughout
the examples in this article, particularly when working with keyboard input
(<code>$ff</code>) and random number generation (<code>$fe</code>).</p>

<p>5) Zero page, X indexing is used for iterating over some simple sequences in
memory. For example, Snake6502 stores the position of each part of the snakes
body in byte pairs starting at memory location <code>$10</code>. Using this addressing
mode, it is possible to walk over the array by simply incrementing the X
register as you go.</p>

<p>6) We’ve also seen plenty of examples of absolute addressing, especially when
looking at <code>JSR</code> operations. The only complication involved in processing
these addresses is that two bytes need to be read and then assembled into
a 16bit integer. But since we’ve had to do that in several places already,
it should be easy enough to understand.</p>

<p>7) Indexed indirect addressing gives us a way to dynamically compute an address
from other addresses that we’ve stored in memory. That sounds really confusing,
but the following example should help clear it up. The code below is responsible
for moving the snake by painting a white pixel at its updated head position, and
painting a black pixel at its old tail position:</p>

<pre><code>$0720    a2 00       LDX #$00
$0722    a9 01       LDA #$01
$0724    81 10       STA ($10,X) 
$0726    a6 03       LDX $03
$0728    a9 00       LDA #$00
$072a    81 10       STA ($10,X) 
</code></pre>

<p>The first three lines are hardcoded to look at memory locations <code>$10</code> and <code>$11</code> 
to form an address in the pixel array that refers to the new head of the 
snake. The next three lines do something similar for the tail of the snake,
but with a twist: because the length of the snake is dynamic, it needs to
be looked up from memory. This value is stored in memory location <code>$03</code>.
So to unpack the whole thing, <code>STA ($10, X)</code> will take the address <code>$10</code>, add to
it the number of bytes in the whole snake array, and then look up the address
stored in the last position of that array. That address points to the snake’s
tail in the pixel array, which ends up getting set to black by this instruction.</p>

<p>8) Indirect indexed addressing gives us yet another way to walk over multibyte
structures. In nake6502, this addressing mode is only used for drawing the
apple on the screen. Its position is stored in a 16-bit value stored 
in <code>$00</code> and <code>$01</code>, and the following code is used to set its color to a 
random value:</p>

<pre><code>$0719    a0 00       LDY #$00
$071b    a5 fe       LDA $fe
$071d    91 00       STA ($00),Y
</code></pre>

<p>There are bound to be more interesting uses of these addressing modes, but we
we’ve certainly covered enough ground for now! Don’t worry if you didn’t
understand this section that well, it took me many times reading the Easy6502
tutorial and the source code for Snake6502 before I figured these out myself.</p>

<h2 id="simulator-finally">6502 Simulator (finally!)</h2>

<p>We are now finally at the point where all the hard stuff is done, and all that
remains is to wire up the simulator itself. In other words, it’s time for
the fun part of the project.</p>

<p>The input for the simulator will be a binary file containing the
assembled program code for Snake6502. The bytes in that file not meant to
be read as printable characters, but they can be inspected using a hex editor:</p>

<pre><code>$ hexdump examples/snake.rom
0000000 20 06 06 20 38 06 20 0d 06 20 2a 06 60 a9 02 85
0000010 02 a9 04 85 03 a9 11 85 10 a9 10 85 12 a9 0f 85
0000020 14 a9 04 85 11 85 13 85 15 60 a5 fe 85 00 a5 fe
0000030 29 03 18 69 02 85 01 60 20 4d 06 20 8d 06 20 c3
0000040 06 20 19 07 20 20 07 20 2d 07 4c 38 06 a5 ff c9
0000050 77 f0 0d c9 64 f0 14 c9 73 f0 1b c9 61 f0 22 60
0000060 a9 04 24 02 d0 26 a9 01 85 02 60 a9 08 24 02 d0
0000070 1b a9 02 85 02 60 a9 01 24 02 d0 10 a9 04 85 02
0000080 60 a9 02 24 02 d0 05 a9 08 85 02 60 60 20 94 06
0000090 20 a8 06 60 a5 00 c5 10 d0 0d a5 01 c5 11 d0 07
00000a0 e6 03 e6 03 20 2a 06 60 a2 02 b5 10 c5 10 d0 06
00000b0 b5 11 c5 11 f0 09 e8 e8 e4 03 f0 06 4c aa 06 4c
00000c0 35 07 60 a6 03 ca 8a b5 10 95 12 ca 10 f9 a5 02
00000d0 4a b0 09 4a b0 19 4a b0 1f 4a b0 2f a5 10 38 e9
00000e0 20 85 10 90 01 60 c6 11 a9 01 c5 11 f0 28 60 e6
00000f0 10 a9 1f 24 10 f0 1f 60 a5 10 18 69 20 85 10 b0
0000100 01 60 e6 11 a9 06 c5 11 f0 0c 60 c6 10 a5 10 29
0000110 1f c9 1f f0 01 60 4c 35 07 a0 00 a5 fe 91 00 60
0000120 a2 00 a9 01 81 10 a6 03 a9 00 81 10 60 a2 00 ea
0000130 ea ca d0 fb 60
0000135
</code></pre>

<p>The challenge that is left to be completed is to process
the opcodes and operands in this file and turn them into
a running program. To do that, we will make use of a CSV file 
that lists the operation name and addressing mode for each opcode 
found in file:</p>

<pre><code>00,BRK,#
10,BPL,@
18,CLC,#
20,JSR,AB
# ... rest of instructions go here ...
E6,INC,ZP
E8,INX,#
E9,SBC,IM
F0,BEQ,@
</code></pre>

<p>Once we know the addressing mode for a given operation, we can read its
operand and turn it into an address (denoted by <code>e</code>). And once we have <em>that</em>, 
we can execute the commands that are defined in following DSL:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#777"># NOTE: This file contains definitions for every instruction used </span>
<span style="color:#777"># by Snake6502. Most of the functionality here is a direct result</span>
<span style="color:#777"># of simple calls to Vintage::Storage and Vintage::CPU instances.</span>

<span style="color:#036;font-weight:bold">NOP</span> { }
<span style="color:#036;font-weight:bold">BRK</span> { raise <span style="color:#036;font-weight:bold">StopIteration</span> }


<span style="color:#036;font-weight:bold">LDA</span> { cpu[<span style="color:#A60">:a</span>] = mem[e] }
<span style="color:#036;font-weight:bold">LDX</span> { cpu[<span style="color:#A60">:x</span>] = mem[e] }
<span style="color:#036;font-weight:bold">LDY</span> { cpu[<span style="color:#A60">:y</span>] = mem[e] }

<span style="color:#036;font-weight:bold">TXA</span> { cpu[<span style="color:#A60">:a</span>] = cpu[<span style="color:#A60">:x</span>] }

<span style="color:#036;font-weight:bold">STA</span> { mem[e] = cpu[<span style="color:#A60">:a</span>] }

<span style="color:#777">## Counters</span>

<span style="color:#036;font-weight:bold">INX</span> { cpu[<span style="color:#A60">:x</span>] += <span style="color:#00D">1</span> }
<span style="color:#036;font-weight:bold">DEX</span> { cpu[<span style="color:#A60">:x</span>] -= <span style="color:#00D">1</span> }

<span style="color:#036;font-weight:bold">DEC</span> { mem[e] = cpu.result(mem[e] - <span style="color:#00D">1</span>) }
<span style="color:#036;font-weight:bold">INC</span> { mem[e] = cpu.result(mem[e] + <span style="color:#00D">1</span>) } 

<span style="color:#777">## Flow control</span>

<span style="color:#036;font-weight:bold">JMP</span> { mem.jump(e) }

<span style="color:#036;font-weight:bold">JSR</span> { mem.jsr(e) }
<span style="color:#036;font-weight:bold">RTS</span> { mem.rts }

<span style="color:#036;font-weight:bold">BNE</span> { mem.branch(cpu[<span style="color:#A60">:z</span>] == <span style="color:#00D">0</span>, e) }
<span style="color:#036;font-weight:bold">BEQ</span> { mem.branch(cpu[<span style="color:#A60">:z</span>] == <span style="color:#00D">1</span>, e) }
<span style="color:#036;font-weight:bold">BPL</span> { mem.branch(cpu[<span style="color:#A60">:n</span>] == <span style="color:#00D">0</span>, e) }
<span style="color:#036;font-weight:bold">BCS</span> { mem.branch(cpu[<span style="color:#A60">:c</span>] == <span style="color:#00D">1</span>, e) }
<span style="color:#036;font-weight:bold">BCC</span> { mem.branch(cpu[<span style="color:#A60">:c</span>] == <span style="color:#00D">0</span>, e) }

<span style="color:#777">## Comparisons</span>

<span style="color:#036;font-weight:bold">CPX</span> <span style="color:#080;font-weight:bold">do</span> 
  cpu.carry_if(cpu[<span style="color:#A60">:x</span>] &gt;= mem[e])

  cpu.result(cpu[<span style="color:#A60">:x</span>] - mem[e]) 
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#036;font-weight:bold">CMP</span> <span style="color:#080;font-weight:bold">do</span> 
  cpu.carry_if(cpu[<span style="color:#A60">:a</span>] &gt;= mem[e])

  cpu.result(cpu[<span style="color:#A60">:a</span>] - mem[e]) 
<span style="color:#080;font-weight:bold">end</span>


<span style="color:#777">## Bitwise operations</span>

<span style="color:#036;font-weight:bold">AND</span> { cpu[<span style="color:#A60">:a</span>] &amp;= mem[e] }
<span style="color:#036;font-weight:bold">BIT</span> { cpu.result(cpu[<span style="color:#A60">:a</span>] &amp; mem[e]) }

<span style="color:#036;font-weight:bold">LSR</span> <span style="color:#080;font-weight:bold">do</span>
  t = (cpu[<span style="color:#A60">:a</span>] &gt;&gt; <span style="color:#00D">1</span>) &amp; <span style="color:#00D">0x7F</span>
 
  cpu.carry_if(cpu[<span style="color:#A60">:a</span>][<span style="color:#00D">0</span>] == <span style="color:#00D">1</span>)
  cpu[<span style="color:#A60">:a</span>] = t
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#777">## Arithmetic</span>

<span style="color:#036;font-weight:bold">SEC</span> { cpu.set_carry   }
<span style="color:#036;font-weight:bold">CLC</span> { cpu.clear_carry }

<span style="color:#036;font-weight:bold">ADC</span> <span style="color:#080;font-weight:bold">do</span> 
  t = cpu[<span style="color:#A60">:a</span>] + mem[e] + cpu[<span style="color:#A60">:c</span>]

  cpu.carry_if(t &gt; <span style="color:#00D">0xff</span>)
  cpu[<span style="color:#A60">:a</span>] = t
<span style="color:#080;font-weight:bold">end</span>

<span style="color:#036;font-weight:bold">SBC</span> <span style="color:#080;font-weight:bold">do</span>
  t  = cpu[<span style="color:#A60">:a</span>] - mem[e] - (cpu[<span style="color:#A60">:c</span>] == <span style="color:#00D">0</span> ? <span style="color:#00D">1</span> : <span style="color:#00D">0</span>)

  cpu.carry_if(t &gt;= <span style="color:#00D">0</span>)
  cpu[<span style="color:#A60">:a</span>] = t
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>We can treat both the opcode lookup CSV and the instructions definitions DSL 
as configuration files, to be loaded into the configuration object 
shown below:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>require <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">csv</span><span style="color:#710">&quot;</span></span>

<span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Config</span>
    <span style="color:#036;font-weight:bold">CONFIG_DIR</span> = <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="color:#036;font-weight:bold">File</span>.dirname(<span style="color:#069">__FILE__</span>)<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">/../../config</span><span style="color:#710">&quot;</span></span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">initialize</span>(name)
      load_codes(name)
      load_definitions(name)
    <span style="color:#080;font-weight:bold">end</span>

    attr_reader <span style="color:#A60">:definitions</span>, <span style="color:#A60">:codes</span>

    private

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">load_codes</span>(name)
      csv_data = <span style="color:#036;font-weight:bold">CSV</span>.read(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="color:#036;font-weight:bold">CONFIG_DIR</span><span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">/</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>name<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">.csv</span><span style="color:#710">&quot;</span></span>)
                    .map { |r| [r[<span style="color:#00D">0</span>].to_i(<span style="color:#00D">16</span>), [r[<span style="color:#00D">1</span>].to_sym, r[<span style="color:#00D">2</span>]]] }

      <span style="color:#33B">@codes</span> = <span style="color:#036;font-weight:bold">Hash</span>[csv_data]
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">load_definitions</span>(name)
      <span style="color:#33B">@definitions</span> = {}

      instance_eval(<span style="color:#036;font-weight:bold">File</span>.read(<span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="color:#036;font-weight:bold">CONFIG_DIR</span><span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">/</span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span>name<span style="font-weight:bold;color:#666">}</span></span><span style="color:#D20">.rb</span><span style="color:#710">&quot;</span></span>))
    <span style="color:#080;font-weight:bold">end</span>

    <span style="color:#080;font-weight:bold">def</span> <span style="color:#06B;font-weight:bold">method_missing</span>(id, *a, &amp;b)
      <span style="color:#080;font-weight:bold">return</span> <span style="color:#080;font-weight:bold">super</span> <span style="color:#080;font-weight:bold">unless</span> id == id.upcase

      <span style="color:#33B">@definitions</span>[id] = b
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>Then finally, we can tie everything together with a <code>Simulator</code> object that
instantiates all the objects we need, and kicks off a program execution loop:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span style="color:#080;font-weight:bold">module</span> <span style="color:#B06;font-weight:bold">Vintage</span>
  <span style="color:#080;font-weight:bold">class</span> <span style="color:#B06;font-weight:bold">Simulator</span>
    <span style="color:#036;font-weight:bold">EvaluationContext</span> = <span style="color:#036;font-weight:bold">Struct</span>.new(<span style="color:#A60">:mem</span>, <span style="color:#A60">:cpu</span>, <span style="color:#A60">:e</span>)
      
    <span style="color:#080;font-weight:bold">def</span> <span style="color:#069">self</span>.<span style="color:#06B;font-weight:bold">run</span>(file, ui)
      config = <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Config</span>.new
      cpu    = <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">CPU</span>.new
      mem    = <span style="color:#036;font-weight:bold">Vintage</span>::<span style="color:#036;font-weight:bold">Storage</span>.new

      mem.extend(<span style="color:#036;font-weight:bold">MemoryMap</span>)
      mem.ui = ui
      
      mem.load(<span style="color:#036;font-weight:bold">File</span>.binread(file).bytes)

      loop <span style="color:#080;font-weight:bold">do</span>
        code = mem.next

        op, mode = config.codes[code]
        <span style="color:#080;font-weight:bold">if</span> name
          e = <span style="color:#036;font-weight:bold">Operand</span>.read(mem, mode, cpu[<span style="color:#A60">:x</span>], cpu[<span style="color:#A60">:y</span>])

          <span style="color:#036;font-weight:bold">EvaluationContext</span>.new(mem, cpu, e)
                           .instance_exec(&amp;config.definitions[op])
        <span style="color:#080;font-weight:bold">else</span>
          raise <span style="color:#036;font-weight:bold">LoadError</span>, <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">No operation matches code: </span><span style="background-color:hsla(0,0%,0%,0.07);color:black"><span style="font-weight:bold;color:#666">#{</span><span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">'</span><span style="color:#D20">%.2x</span><span style="color:#710">'</span></span> % code<span style="font-weight:bold;color:#666">}</span></span><span style="color:#710">&quot;</span></span>
        <span style="color:#080;font-weight:bold">end</span>
      <span style="color:#080;font-weight:bold">end</span>
    <span style="color:#080;font-weight:bold">end</span>
  <span style="color:#080;font-weight:bold">end</span>
<span style="color:#080;font-weight:bold">end</span>
</pre></div>
</div>
</div>

<p>At this point, you’re ready to play Snake! Or if you’ve been following closely
along with this article all the way to the end, you’re probably more likely to
have a cup of coffee or take a nap from information overload. Either way,
congratulations for making it all the way through this long and winding
issue of Practicing Ruby!</p>

<h2 id="further-reading">Further Reading</h2>

<p>This article and the <a href="http://github.com/sandal/vintage">Vintage simulator</a> is built on top of a ton of other
people’s ideas and learning resources. Here are some of the works I referred to
while researching this topic:</p>

<ul>
  <li><a href="http://skilldrick.github.io/easy6502/">Easy 6502</a> by Nick Morgan</li>
  <li><a href="http://en.wikipedia.org/wiki/MOS_Technology_6502">Mos Technology 6502</a> @ Wikipedia</li>
  <li><a href="http://homepage.ntlworld.com/cyborgsystems/CS_Main/6502/6502.htm">Rockwell 6502 Programmer’s Manual</a>  by Bluechip</li>
  <li><a href="http://www.6502.org/tutorials/6502opcodes.html">NMos 6502 opcodes</a> by John Pickens</li>
  <li><a href="https://github.com/joelanders/r6502">r6502</a> by Joe Landers</li>
</ul>

  </div>
</body>
</html>
